<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpcompose.mapper.ConfScalingTaskMapper">
    <resultMap id="BaseResultMap" type="com.sunbox.domain.ConfScalingTask">
        <id column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="cluster_id" jdbcType="VARCHAR" property="clusterId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="scaling_type" jdbcType="INTEGER" property="scalingType"/>
        <result column="vm_role" jdbcType="VARCHAR" property="vmRole"/>
        <result column="es_rule_id" jdbcType="VARCHAR" property="esRuleId"/>
        <result column="es_rule_name" jdbcType="VARCHAR" property="esRuleName"/>
        <result column="before_scaling_count" jdbcType="INTEGER" property="beforeScalingCount"/>
        <result column="after_scaling_count" jdbcType="INTEGER" property="afterScalingCount"/>
        <result column="scaling_count" jdbcType="INTEGER" property="scalingCount"/>
        <result column="expect_count" jdbcType="INTEGER" property="expectCount"/>
        <result column="is_graceful_scalein" jdbcType="INTEGER" property="isGracefulScalein"/>
        <result column="scalein_waitingtime" jdbcType="INTEGER" property="scaleinWaitingtime"/>
        <result column="default_username" jdbcType="VARCHAR" property="defaultUsername"/>
        <result column="operatiion_type" jdbcType="INTEGER" property="operatiionType"/>
        <result column="enable_beforestart_script" jdbcType="VARCHAR" property="enableBeforestartScript"/>
        <result column="enable_afterstart_script" jdbcType="VARCHAR" property="enableAfterstartScript"/>
        <result column="beg_time" jdbcType="TIMESTAMP" property="begTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="in_queue" jdbcType="INTEGER" property="inQueue"/>
        <result column="delete_group" jdbcType="INTEGER" property="deleteGroup"/>
        <result column="scaleout_task_id" jdbcType="VARCHAR" property="scaleoutTaskId"/>
        <result column="force_scalein_data_node" jdbcType="INTEGER" property="forceScaleinDataNode"/>
    </resultMap>
    <sql id="Base_Column_List">
        task_id, cluster_id, group_name, scaling_type, vm_role, es_rule_id, es_rule_name,
        before_scaling_count, after_scaling_count, scaling_count, expect_count, is_graceful_scalein, scalein_waitingtime,
        operatiion_type, beg_time, end_time,
        state,default_username,enable_beforestart_script,enable_afterstart_script,in_queue,create_time,
        delete_group, scaleout_task_id, force_scalein_data_node
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where task_id = #{taskId,jdbcType=VARCHAR}
    </select>
    <select id="getTaskCountByParam" resultType="java.lang.Integer">
        select
        count(*)
        from conf_scaling_task
        where 1=1
        <if test="clusterId != null">
            and cluster_id = #{clusterId,jdbcType=VARCHAR}
        </if>
        <if test="groupName != null">
            and group_name = #{groupName,jdbcType=VARCHAR}
        </if>
        <if test="scalingType != null">
            and scaling_type = #{scalingType,jdbcType=INTEGER}
        </if>
    </select>
    <select id="peekQueueHeadTask" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and group_name = #{groupName,jdbcType=VARCHAR}
        and state in
        <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
            #{state}
        </foreach>
        order by create_time asc
        limit 1
    </select>
    <select id="findLastByScalingTypeAndState" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and group_name = #{groupName,jdbcType=VARCHAR}
        and scaling_type = #{scalingType,jdbcType=INTEGER}
        and state = #{state,jdbcType=INTEGER}
        order by end_time desc
        limit 1
    </select>
    <select id="findLastFinishedTask" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and group_name = #{groupName,jdbcType=VARCHAR}
        and state = #{state,jdbcType=INTEGER}
        order by end_time desc
        limit 1
    </select>
    <select id="findLastTaskByStates" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and group_name = #{groupName,jdbcType=VARCHAR}
        and (state = #{state1,jdbcType=INTEGER} or state = #{state2,jdbcType=INTEGER})
        order by end_time desc
        limit 1
    </select>
    <select id="queryRunningTask" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and create_time&lt;#{createTime,jdbcType=TIMESTAMP}
        and group_name = #{groupName,jdbcType=VARCHAR}
        and state in
        <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
            #{state}
        </foreach>
        order by create_time desc
        limit 1
    </select>
    <select id="queryRunningTaskByScalingType" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and create_time&lt;#{createTime,jdbcType=TIMESTAMP}
        and scaling_type = #{scalingType,jdbcType=INTEGER}
        and state in
        <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
            #{state}
        </foreach>
        order by create_time desc
        limit 1
    </select>
    <select id="countRunningTaskByScalingTypes" resultType="int">
        select
        count(1)
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and vm_role = #{vmRole,jdbcType=VARCHAR}
        and create_time&lt;#{createTime,jdbcType=TIMESTAMP}
        and scaling_type in
        <foreach collection="scalingTypes" item="scalingType" index="index" open="(" close=")" separator=",">
            #{scalingType}
        </foreach>
        and state in
        <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
            #{state}
        </foreach>
    </select>
    <select id="countByClusterIdAndStates" resultType="int">
        select
        count(1)
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and state in
        <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
            #{state}
        </foreach>
    </select>
    <select id="queryTasksByStateAndVmRoleAndClusterId" resultType="com.sunbox.domain.ConfScalingTask">
        select
        <include refid="Base_Column_List"/>
        from conf_scaling_task
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
            and vm_role = #{vmRole,jdbcType=VARCHAR}
            and state = #{state,jdbcType=INTEGER}
            and scaling_type = #{scalingType,jdbcType=INTEGER}
    </select>
    <select id="getAllScaleOutVMCountByClusterAndVmRole" resultType="java.lang.Integer">
        select ifnull(sum(cstv.count),0)
        from conf_scaling_task_vm cstv
        inner join conf_scaling_task cst on cst.task_id = cstv.task_id
        where cst.cluster_id = #{clusterId,jdbcType=VARCHAR}
        and cst.vm_role = #{vmRole,jdbcType=VARCHAR}
        and cst.task_id &lt;&gt; #{taskId,jdbcType=VARCHAR}
        and cst.create_time &lt; #{createTime,jdbcType=TIMESTAMP}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from conf_scaling_task
        where task_id = #{taskId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.sunbox.domain.ConfScalingTask">
        insert into conf_scaling_task (task_id, cluster_id, group_name,
                                       scaling_type, vm_role, es_rule_id,
                                       es_rule_name, before_scaling_count, after_scaling_count,
                                       scaling_count, expect_count, is_graceful_scalein, scalein_waitingtime,
                                       operatiion_type, beg_time, end_time, created_by,
                                       state, default_username, enable_beforestart_script, enable_afterstart_script,
                                       create_time, delete_group,
                                       in_queue, scaleout_task_id, force_scalein_data_node)
        values (#{taskId,jdbcType=VARCHAR}, #{clusterId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR},
                #{scalingType,jdbcType=INTEGER}, #{vmRole,jdbcType=VARCHAR}, #{esRuleId,jdbcType=VARCHAR},
                #{esRuleName,jdbcType=VARCHAR}, #{beforeScalingCount,jdbcType=INTEGER},
                #{afterScalingCount,jdbcType=INTEGER},
                #{scalingCount,jdbcType=INTEGER}, #{expectCount,jdbcType=INTEGER},
                #{isGracefulScalein,jdbcType=INTEGER}, #{scaleinWaitingtime,jdbcType=INTEGER},
                #{operatiionType,jdbcType=INTEGER}, #{begTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
                #{createdBy,jdbcType=VARCHAR},
                #{state,jdbcType=INTEGER}, #{defaultUsername,jdbcType=VARCHAR},
                #{enableBeforestartScript,jdbcType=VARCHAR}
                   , #{enableAfterstartScript,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{deleteGroup,jdbcType=INTEGER}, #{inQueue,jdbcType=INTEGER},
                #{scaleoutTaskId,jdbcType=VARCHAR}, #{forceScaleinDataNode,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.sunbox.domain.ConfScalingTask">
        insert into conf_scaling_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                task_id,
            </if>
            <if test="clusterId != null">
                cluster_id,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="scalingType != null">
                scaling_type,
            </if>
            <if test="vmRole != null">
                vm_role,
            </if>
            <if test="esRuleId != null">
                es_rule_id,
            </if>
            <if test="esRuleName != null">
                es_rule_name,
            </if>
            <if test="beforeScalingCount != null">
                before_scaling_count,
            </if>
            <if test="afterScalingCount != null">
                after_scaling_count,
            </if>
            <if test="scalingCount != null">
                scaling_count,
            </if>
            <if test="isGracefulScalein != null">
                is_graceful_scalein,
            </if>
            <if test="scaleinWaitingtime != null">
                scalein_waitingtime,
            </if>
            <if test="operatiionType != null">
                operatiion_type,
            </if>
            <if test="begTime != null">
                beg_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="defaultUsername != null">
                default_username,
            </if>
            <if test="enableBeforestartScript != null">
                enable_beforestart_script,
            </if>
            <if test="enableAfterstartScript !=null">
                enable_afterstart_script,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="deleteGroup!=null">
                delete_group,
            </if>
            <if test="inQueue!=null">
                in_queue,
            </if>
            <if test="scaleoutTaskId!=null">
                scaleout_task_id,
            </if>
            <if test="forceScaleinDataNode!=null">
                force_scalein_data_node
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="clusterId != null">
                #{clusterId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="scalingType != null">
                #{scalingType,jdbcType=INTEGER},
            </if>
            <if test="vmRole != null">
                #{vmRole,jdbcType=VARCHAR},
            </if>
            <if test="esRuleId != null">
                #{esRuleId,jdbcType=VARCHAR},
            </if>
            <if test="esRuleName != null">
                #{esRuleName,jdbcType=VARCHAR},
            </if>
            <if test="beforeScalingCount != null">
                #{beforeScalingCount,jdbcType=INTEGER},
            </if>
            <if test="afterScalingCount != null">
                #{afterScalingCount,jdbcType=INTEGER},
            </if>
            <if test="scalingCount != null">
                #{scalingCount,jdbcType=INTEGER},
            </if>
            <if test="isGracefulScalein != null">
                #{isGracefulScalein,jdbcType=INTEGER},
            </if>
            <if test="scaleinWaitingtime != null">
                #{scaleinWaitingtime,jdbcType=INTEGER},
            </if>
            <if test="operatiionType != null">
                #{operatiionType,jdbcType=INTEGER},
            </if>
            <if test="begTime != null">
                #{begTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="defaultUsername != null">
                #{defaultUsername,jdbcType=VARCHAR},
            </if>
            <if test="enableBeforestartScript != null">
                #{enableBeforestartScript,jdbcType=VARCHAR},
            </if>
            <if test="enableAfterstartScript !=null">
                #{enableAfterstartScript,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteGroup!=null">
                #{deleteGroup,jdbcType=INTEGER},
            </if>
            <if test="inQueue!=null">
                #{inQueue,jdbcType=INTEGER},
            </if>
            <if test="scaleoutTaskId!=null">
                #{scaleoutTaskId,jdbcType=VARCHAR},
            </if>
            <if test="forceScaleinDataNode!=null">
                #{forceScaleinDataNode,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.ConfScalingTask">
        update conf_scaling_task
        <set>
            <if test="clusterId != null">
                cluster_id = #{clusterId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="scalingType != null">
                scaling_type = #{scalingType,jdbcType=INTEGER},
            </if>
            <if test="vmRole != null">
                vm_role = #{vmRole,jdbcType=VARCHAR},
            </if>
            <if test="esRuleId != null">
                es_rule_id = #{esRuleId,jdbcType=VARCHAR},
            </if>
            <if test="esRuleName != null">
                es_rule_name = #{esRuleName,jdbcType=VARCHAR},
            </if>
            <if test="beforeScalingCount != null">
                before_scaling_count = #{beforeScalingCount,jdbcType=INTEGER},
            </if>
            <if test="afterScalingCount != null">
                after_scaling_count = #{afterScalingCount,jdbcType=INTEGER},
            </if>
            <if test="scalingCount != null">
                scaling_count = #{scalingCount,jdbcType=INTEGER},
            </if>
            <if test="isGracefulScalein != null">
                is_graceful_scalein = #{isGracefulScalein,jdbcType=INTEGER},
            </if>
            <if test="scaleinWaitingtime != null">
                scalein_waitingtime = #{scaleinWaitingtime,jdbcType=INTEGER},
            </if>
            <if test="operatiionType != null">
                operatiion_type = #{operatiionType,jdbcType=INTEGER},
            </if>
            <if test="begTime != null">
                beg_time = #{begTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="defaultUsername != null">
                default_username = #{defaultUsername,jdbcType=INTEGER},
            </if>
            <if test="enableBeforestartScript != null">
                enable_beforestart_script = #{enableBeforestartScript,jdbcType=VARCHAR},
            </if>
            <if test="enableAfterstartScript !=null">
                enable_afterstart_script = #{enableAfterstartScript,jdbcType=VARCHAR},
            </if>
            <if test="remark !=null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="inQueue !=null">
                in_queue = #{inQueue,jdbcType=INTEGER},
            </if>
            <if test="deleteGroup !=null">
                delete_group = #{deleteGroup,jdbcType=INTEGER},
            </if>
            <if test="scaleoutTaskId!=null">
                scaleout_task_id = #{scaleoutTaskId,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="forceScaleinDataNode!=null">
                force_scalein_data_node = #{forceScaleinDataNode,jdbcType=INTEGER}
            </if>
        </set>
        where task_id = #{taskId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.ConfScalingTask">
        update conf_scaling_task
        set cluster_id = #{clusterId,jdbcType=VARCHAR},
        group_name = #{groupName,jdbcType=VARCHAR},
        scaling_type = #{scalingType,jdbcType=INTEGER},
        vm_role = #{vmRole,jdbcType=VARCHAR},
        es_rule_id = #{esRuleId,jdbcType=VARCHAR},
        es_rule_name = #{esRuleName,jdbcType=VARCHAR},
        before_scaling_count = #{beforeScalingCount,jdbcType=INTEGER},
        after_scaling_count = #{afterScalingCount,jdbcType=INTEGER},
        scaling_count = #{scalingCount,jdbcType=INTEGER},
        is_graceful_scalein = #{isGracefulScalein,jdbcType=INTEGER},
        scalein_waitingtime = #{scaleinWaitingtime,jdbcType=INTEGER},
        operatiion_type = #{operatiionType,jdbcType=INTEGER},
        beg_time = #{begTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        state = #{state,jdbcType=INTEGER},
        default_username = #{defaultUsername,jdbcType=INTEGER},
        enable_beforestart_script = #{enableBeforestartScript,jdbcType=VARCHAR},
        enable_afterstart_script = #{enableAfterstartScript,jdbcType=VARCHAR},
        in_queue = #{inQueue,jdbcType=INTEGER},
        delete_group = #{deleteGroup,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        force_scalein_data_node = #{forceScaleinDataNode,jdbcType=INTEGER},
        scaleout_task_id = #{scaleoutTaskId,jdbcType=VARCHAR},
        expect_count = #{expectCount,jdbcType=INTEGER}
        where task_id = #{taskId,jdbcType=VARCHAR}
    </update>
    <select id="countByScalingTypeAndState" resultType="int">
        select count(1)
        from conf_scaling_task
        where cluster_id =#{clusterId,jdbcType=VARCHAR}
        and group_name =#{groupName,jdbcType=VARCHAR}
        and (state = #{state1,jdbcType=INTEGER} or state = #{state2,jdbcType=INTEGER})
        and (scaling_type = #{scalingType1,jdbcType=INTEGER} or scaling_type = #{scalingType2,jdbcType=INTEGER})
    </select>
    <select id="countByScaleOutTaskIdAndScalingTypeAndState" resultType="int">
        select count(1)
        from conf_scaling_task
        where cluster_id =#{clusterId,jdbcType=VARCHAR}
        and group_name =#{groupName,jdbcType=VARCHAR}
        and (state = #{state1,jdbcType=INTEGER} or state = #{state2,jdbcType=INTEGER})
        and scaling_type = #{scalingType,jdbcType=INTEGER}
        and scaleout_task_id = #{scaleOutTaskId,jdbcType=VARCHAR}
    </select>


</mapper>