<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpcompose.mapper.JobResultsMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.JobResults">
    <!--@mbg.generated-->
    <!--@Table conf_keypair-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="JobID" jdbcType="VARCHAR" property="jobid" />
    <result column="AnsibleLog" jdbcType="LONGVARCHAR" property="ansiblelog" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID,
    JobID,
    AnsibleLog,
    CreateTime
  </sql>
  <select id="selectByJobId" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from jobresults
    where JobID = #{jobid,jdbcType=VARCHAR}
  </select>
</mapper>