<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpspot.mapper.ConfClusterHostGroupMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.ConfClusterHostGroup">
    <id column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="vm_role" jdbcType="VARCHAR" property="vmRole" />
    <result column="ins_count" jdbcType="INTEGER" property="insCount" />
    <result column="expect_count" jdbcType="INTEGER" property="expectCount" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="purchase_type" jdbcType="INTEGER" property="purchaseType"/>
    <result column="max_unit" jdbcType="INTEGER" property="maxUnit"/>
    <result column="min_unit" jdbcType="INTEGER" property="minUnit"/>
    <result column="yarn_queue" jdbcType="VARCHAR" property="yarnQueue" />
    <result column="ambari_config_group" jdbcType="VARCHAR" property="ambariConfigGroup"/>
    <result column="createdby" jdbcType="VARCHAR" property="createdby" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifiedby" jdbcType="VARCHAR" property="modifiedby" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="spot_state" jdbcType="INTEGER" property="spotState"/>
  </resultMap>
  <sql id="Base_Column_List">
    group_id, cluster_id, group_name, vm_role, ins_count, expect_count, state, yarn_queue, ambari_config_group,createdby,
    created_time, modifiedby, modified_time,purchase_type,max_unit,min_unit,
    spot_state
  </sql>
  <sql id="Alias_Base_Column_List">
    cchg.group_id, cchg.cluster_id, cchg.group_name, cchg.vm_role, cchg.ins_count, cchg.expect_count, cchg.state, cchg.yarn_queue, cchg.ambari_config_group, cchg.createdby,
    cchg.created_time, cchg.modifiedby, cchg.modified_time, cchg.purchase_type, cchg.max_unit, cchg.min_unit,
    cchg.spot_state
  </sql>
  <select id="listByPurchaseType"  resultMap="BaseResultMap">
    select
    <include refid="Alias_Base_Column_List" />
    from conf_cluster_host_group as cchg
    inner join conf_cluster as cc on cc.cluster_id = cchg.cluster_id
    where cchg.purchase_type = #{purchaseType,jdbcType=INTEGER}
        and cc.state =#{state,jdbcType=INTEGER}
  </select>
  <select id="countByPurchaseType" resultType="int">
    select
    count(cchg.group_id)
    from conf_cluster_host_group as cchg
    inner join conf_cluster as cc on cc.cluster_id = cchg.cluster_id
    where cchg.purchase_type = #{purchaseType,jdbcType=INTEGER}
    and cc.state =#{state,jdbcType=INTEGER}
  </select>
  <select id="findByClusterIdAndGroupId" resultType="com.sunbox.domain.ConfClusterHostGroup">
    select
    <include refid="Base_Column_List" />
    from conf_cluster_host_group
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
    and group_id =#{groupId,jdbcType=VARCHAR}
  </select>
  <select id="countByClusterIdAndVmRoleAndPurchaseTypeNeState" resultType="int">
    select
    count(purchase_type)
    from conf_cluster_host_group
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
    and vm_role = #{vmRole,jdbcType=VARCHAR}
    and purchase_type = #{purchaseType,jdbcType=INTEGER}
    and (state <![CDATA[ <> ]]> #{state1,jdbcType=INTEGER}
      and state <![CDATA[ <> ]]> #{state2,jdbcType=INTEGER}
      and state <![CDATA[ <> ]]> #{state3,jdbcType=INTEGER})
  </select>
</mapper>