---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: configserver
  labels:
    app: configserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: configserver
  template:
    metadata:
      labels:
        app: configserver
    spec:
      containers:
        - name: configserver
          resources:
            requests:
              memory: 2Gi
              cpu: 1
            limits:
              memory: 4Gi
              cpu: 2
          image: acrsbxdevaks.azurecr.io/configserver:2.0
          imagePullPolicy: Always
          ports:
            - containerPort: 25000
          env:
            - name: DB_URL
              value: jdbc:mysql://sbxdevmysql8.mysql.database.azure.com/sdpms
            - name: DB_USERNAME
              value: sbxadmin
            - name: DB_PASSWORD
              value: TTpVhZEKcSoRKv1+8kCUrST0GjoW1flo7c2XniOI9/BCt2XoEDDNLAq21ugxrPM9Zz7nsGgzBnHOwOGqREXK0A==
            - name: DB_KEY
              value: MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK0fcI86HJOMp//dnifb5Be7IW1aJhW8AdS4e/Z0MR+1okS5RIYeRMo4TCa3WQOalQ91YQW9U4oM/r1P52hUM/MCAwEAAQ==
            - name: REGSERVER_URL
              value: http://igs:igscd@regserver:30000/eureka/
          livenessProbe:
            httpGet:
              path: /login
              port: 25000
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /login
              port: 25000
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 5
      terminationGracePeriodSeconds: 60
      imagePullSecrets:
        - name: acr-secret-pwd