// 重新定义变量
body {
  // 圆角
  --el-border-radius-base: 1px;
  --el-border-radius-small: 1px;

  // 颜色
  --el-color-primary: #315FCE;
  --el-color-primary-light-3: #3160ed;

  --el-mask-color rgba(255, 255, 255, 0.3);
}

.el-dialog {
  .el-dialog__body {
    padding-top 20px;
    padding-bottom 20px;
  }
}

.center-dialog {
  margin 0;
  top 50%;
  left 50%;
  transform translate(-50%, -50%)
}