---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: task
  labels:
    app: task
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task
  template:
    metadata:
      labels:
        app: task
    spec:
      containers:
        - name: task
          resources:
            requests:
              memory: 2Gi
              cpu: 1
            limits:
              memory: 4Gi
              cpu: 2
          image: acrsbxdevaks.azurecr.io/task:2.0
          imagePullPolicy: Always
          ports:
            - containerPort: 30465
          env:
            - name: REGSERVER_URL
              value: http://igs:igscd@regserver:30000/eureka/
          lifecycle:
            preStop:
              httpGet:
                path: /maintain/stop
                port: 30465
                scheme: HTTP
          livenessProbe:
            httpGet:
              path: /health/status
              port: 30465
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 30465
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 5
      terminationGracePeriodSeconds: 60
      imagePullSecrets:
        - name: acr-secret-pwd