
# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**detail** | **String** |  |  [optional]
**valid** | **Boolean** |  |  [optional]



