/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import com.google.gson.reflect.TypeToken;
import com.squareup.okhttp.Call;
import sunbox.sdp.ambari.client.*;
import sunbox.sdp.ambari.client.model.ClusterArtifactRequest;
import sunbox.sdp.ambari.client.model.ClusterArtifactResponse;
import sunbox.sdp.ambari.client.model.ClusterRequestSwagger;
import sunbox.sdp.ambari.client.model.ClusterResponseWrapper;
import sunbox.sdp.ambari.client.model.createclusterprocess.ClusterRequest;
import sunbox.sdp.ambari.client.model.createclusterprocess.CreateClusterProcess;
import sunbox.sdp.ambari.client.model.createclusterprocess.CreateClusterProcessTaskDetailWrapper;
import sunbox.sdp.ambari.client.model.createclusterprocess.CreateClusterResponseWrapper;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ClustersApi {
    private ApiClient apiClient;

    public ClustersApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ClustersApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }


    /**
     * 获取Blueprint文本内容
     * @param clusterName 集群名称
     * @return
     * @throws ApiException
     */
    public String getBlueprintString(String clusterName) throws ApiException {

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}?format=blueprint"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        localVarHeaderParams.put("X-Requested-By", "ambari");

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        Call call = apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams,
                null, localVarHeaderParams, localVarFormParams, localVarAuthNames, null);
        ApiResponse<String> execute = apiClient.execute(call, String.class);
        return execute.getData();
    }

    /**
     * Build call for createCluster
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createClusterCall(String clusterName, ClusterRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        localVarHeaderParams.put("X-Requested-By", "ambari");
        localVarHeaderParams.put("Referer", "http://1.13.9.130:8080/");

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createClusterValidateBeforeCall(String clusterName, ClusterRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling createCluster(Async)");
        }
        

        com.squareup.okhttp.Call call = createClusterCall(clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a cluster
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateClusterResponseWrapper createCluster(String clusterName, ClusterRequestSwagger body) throws ApiException {
        ApiResponse<CreateClusterResponseWrapper> response = createClusterWithHttpInfo(clusterName, body);
        return response.getData();
    }

    /**
     * Creates a cluster
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateClusterResponseWrapper> createClusterWithHttpInfo(String clusterName, ClusterRequestSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = createClusterValidateBeforeCall(clusterName, body, null, null);
        Type localVarReturnType = new TypeToken<CreateClusterResponseWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a cluster (asynchronously)
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createClusterAsync(String clusterName, ClusterRequestSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createClusterValidateBeforeCall(clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createClusterArtifact
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createClusterArtifactCall(String clusterName, String artifactName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createClusterArtifactValidateBeforeCall(String clusterName, String artifactName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling createClusterArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling createClusterArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = createClusterArtifactCall(clusterName, artifactName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a cluster artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createClusterArtifact(String clusterName, String artifactName, ClusterArtifactRequest body) throws ApiException {
        createClusterArtifactWithHttpInfo(clusterName, artifactName, body);
    }

    /**
     * Creates a cluster artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createClusterArtifactWithHttpInfo(String clusterName, String artifactName, ClusterArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = createClusterArtifactValidateBeforeCall(clusterName, artifactName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates a cluster artifact (asynchronously)
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createClusterArtifactAsync(String clusterName, String artifactName, ClusterArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createClusterArtifactValidateBeforeCall(clusterName, artifactName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCluster
     * @param clusterName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteClusterCall(String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteClusterValidateBeforeCall(String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling deleteCluster(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteClusterCall(clusterName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a cluster
     * 
     * @param clusterName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCluster(String clusterName) throws ApiException {
        deleteClusterWithHttpInfo(clusterName);
    }

    /**
     * Deletes a cluster
     * 
     * @param clusterName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteClusterWithHttpInfo(String clusterName) throws ApiException {
        com.squareup.okhttp.Call call = deleteClusterValidateBeforeCall(clusterName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes a cluster (asynchronously)
     * 
     * @param clusterName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteClusterAsync(String clusterName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteClusterValidateBeforeCall(clusterName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteClusterArtifact
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteClusterArtifactCall(String clusterName, String artifactName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteClusterArtifactValidateBeforeCall(String clusterName, String artifactName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling deleteClusterArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling deleteClusterArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteClusterArtifactCall(clusterName, artifactName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a single artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteClusterArtifact(String clusterName, String artifactName) throws ApiException {
        deleteClusterArtifactWithHttpInfo(clusterName, artifactName);
    }

    /**
     * Deletes a single artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteClusterArtifactWithHttpInfo(String clusterName, String artifactName) throws ApiException {
        com.squareup.okhttp.Call call = deleteClusterArtifactValidateBeforeCall(clusterName, artifactName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes a single artifact (asynchronously)
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteClusterArtifactAsync(String clusterName, String artifactName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteClusterArtifactValidateBeforeCall(clusterName, artifactName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteClusterArtifacts
     * @param clusterName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteClusterArtifactsCall(String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteClusterArtifactsValidateBeforeCall(String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling deleteClusterArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteClusterArtifactsCall(clusterName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes all artifacts of a cluster that match the provided predicate
     * 
     * @param clusterName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteClusterArtifacts(String clusterName) throws ApiException {
        deleteClusterArtifactsWithHttpInfo(clusterName);
    }

    /**
     * Deletes all artifacts of a cluster that match the provided predicate
     * 
     * @param clusterName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteClusterArtifactsWithHttpInfo(String clusterName) throws ApiException {
        com.squareup.okhttp.Call call = deleteClusterArtifactsValidateBeforeCall(clusterName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes all artifacts of a cluster that match the provided predicate (asynchronously)
     * 
     * @param clusterName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteClusterArtifactsAsync(String clusterName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteClusterArtifactsValidateBeforeCall(clusterName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getCluster
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Clusters/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getClusterCall(String clusterName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getClusterValidateBeforeCall(String clusterName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getCluster(Async)");
        }
        

        com.squareup.okhttp.Call call = getClusterCall(clusterName, fields, progressListener, progressRequestListener);
        return call;
    }

    private com.squareup.okhttp.Call getClusterProcessValidateBeforeCall(String clusterName, Long requestId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getCluster(Async)");
        }


        com.squareup.okhttp.Call call = getClusterProcessCall(clusterName, requestId, progressListener, progressRequestListener);
        return call;

    }

    public com.squareup.okhttp.Call getClusterProcessCall(String clusterName, Long requestId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/requests/{requestId}"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
                .replaceAll("\\{" + "requestId" + "\\}", apiClient.escapeString(requestId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Returns information about a specific cluster
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Clusters/*)
     * @return ClusterResponseWrapper
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterResponseWrapper getCluster(String clusterName, String fields) throws ApiException {
        ApiResponse<ClusterResponseWrapper> resp = getClusterWithHttpInfo(clusterName, fields);
        return resp.getData();
    }

    /**
     * Returns information about a specific cluster
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Clusters/*)
     * @return ApiResponse&lt;ClusterResponseWrapper&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterResponseWrapper> getClusterWithHttpInfo(String clusterName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = getClusterValidateBeforeCall(clusterName, fields, null, null);
        Type localVarReturnType = new TypeToken<ClusterResponseWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns information about a specific cluster (asynchronously)
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Clusters/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getClusterAsync(String clusterName, String fields, final ApiCallback<ClusterResponseWrapper> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getClusterValidateBeforeCall(clusterName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterResponseWrapper>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }

    /**
     * 查询集群创建进度
     * @param clusterName
     * @return
     * @throws ApiException
     */
    public CreateClusterProcess getClusterCreateProcess(String clusterName, Long requestId) throws ApiException {
        ApiResponse<CreateClusterProcess> resp = getClusterCreateProcessWithHttpInfo(clusterName, requestId);
        return resp.getData();
    }

    public ApiResponse<CreateClusterProcess> getClusterCreateProcessWithHttpInfo(String clusterName, Long requestId) throws ApiException {
        try {
            com.squareup.okhttp.Call call = getClusterProcessValidateBeforeCall(clusterName, requestId, null, null);
            Type localVarReturnType = new TypeToken<CreateClusterProcess>(){}.getType();
            return apiClient.execute(call, localVarReturnType);
        } catch (ApiException ex) {
            String fullMsg = ex.getMessage() + "||" + ex.getCode() + ":" + ex.getResponseBody();
            throw new ApiException(fullMsg, ex, ex.getCode(), ex.getResponseHeaders(), ex.getResponseBody());
        } catch (Exception ex) {
            throw new RuntimeException("请求Ambari查询进展失败：", ex);
        }
    }


    /**
     * Build call for getClusterArtifact
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getClusterArtifactCall(String clusterName, String artifactName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    public CreateClusterProcessTaskDetailWrapper getClusterCreateProcessTask(String clusterName, Long requestId, Long taskId) throws ApiException {
        ApiResponse<CreateClusterProcessTaskDetailWrapper> resp = getClusterCreateProcessTaskWithHttpInfo(clusterName, requestId, taskId);
        return resp.getData();
    }

    public ApiResponse<CreateClusterProcessTaskDetailWrapper> getClusterCreateProcessTaskWithHttpInfo(String clusterName, Long requestId, Long taskId) throws ApiException {
        com.squareup.okhttp.Call call = getClusterProcessTaskValidateBeforeCall(clusterName, requestId, taskId, null, null);
        Type localVarReturnType = new TypeToken<CreateClusterProcessTaskDetailWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    private com.squareup.okhttp.Call getClusterProcessTaskValidateBeforeCall(String clusterName, Long requestId, Long taskId,
                                                                             final ProgressResponseBody.ProgressListener progressListener,
                                                                             final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getCluster(Async)");
        }

        com.squareup.okhttp.Call call = getClusterProcessTaskCall(clusterName, requestId, taskId, progressListener, progressRequestListener);
        return call;

    }

    public com.squareup.okhttp.Call getClusterProcessTaskCall(String clusterName, Long requestId, Long taskId,
                                                              final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/requests/{requestId}/tasks/{taskId}"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
                .replaceAll("\\{" + "requestId" + "\\}", apiClient.escapeString(requestId.toString()))
                .replaceAll("\\{" + "taskId" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }



    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getClusterArtifactValidateBeforeCall(String clusterName, String artifactName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getClusterArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling getClusterArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = getClusterArtifactCall(clusterName, artifactName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    public CreateClusterProcess getClusterCreateProcessStage(String clusterName, Integer requestId, Integer stageId) throws ApiException {
        ApiResponse<CreateClusterProcess> resp = getClusterCreateProcessStageWithHttpInfo(clusterName, requestId, stageId);
        return resp.getData();
    }

    public ApiResponse<CreateClusterProcess> getClusterCreateProcessStageWithHttpInfo(String clusterName, Integer requestId, Integer stageId) throws ApiException {
        com.squareup.okhttp.Call call = getClusterProcessStageValidateBeforeCall(clusterName, requestId, stageId, null, null);
        Type localVarReturnType = new TypeToken<CreateClusterProcess>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    private com.squareup.okhttp.Call getClusterProcessStageValidateBeforeCall(String clusterName, Integer requestId, Integer stageId,
                                                                             final ProgressResponseBody.ProgressListener progressListener,
                                                                             final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getCluster(Async)");
        }

        com.squareup.okhttp.Call call = getClusterProcessStageCall(clusterName, requestId, stageId, progressListener, progressRequestListener);
        return call;

    }

    public com.squareup.okhttp.Call getClusterProcessStageCall(String clusterName, Integer requestId, Integer stageId,
                                                              final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/requests/{requestId}/stages/{stageId}"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
                .replaceAll("\\{" + "requestId" + "\\}", apiClient.escapeString(requestId.toString()))
                .replaceAll("\\{" + "stageId" + "\\}", apiClient.escapeString(stageId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get the details of a cluster artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ClusterArtifactResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ClusterArtifactResponse getClusterArtifact(String clusterName, String artifactName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<ClusterArtifactResponse> resp = getClusterArtifactWithHttpInfo(clusterName, artifactName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get the details of a cluster artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;ClusterArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ClusterArtifactResponse> getClusterArtifactWithHttpInfo(String clusterName, String artifactName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = getClusterArtifactValidateBeforeCall(clusterName, artifactName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<ClusterArtifactResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the details of a cluster artifact (asynchronously)
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getClusterArtifactAsync(String clusterName, String artifactName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<ClusterArtifactResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getClusterArtifactValidateBeforeCall(clusterName, artifactName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ClusterArtifactResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getClusterArtifacts
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getClusterArtifactsCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getClusterArtifactsValidateBeforeCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getClusterArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = getClusterArtifactsCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Returns all artifacts associated with the cluster
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ClusterArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ClusterArtifactResponse> getClusterArtifacts(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        ApiResponse<List<ClusterArtifactResponse>> resp = getClusterArtifactsWithHttpInfo(clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Returns all artifacts associated with the cluster
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ClusterArtifactResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ClusterArtifactResponse>> getClusterArtifactsWithHttpInfo(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        com.squareup.okhttp.Call call = getClusterArtifactsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ClusterArtifactResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns all artifacts associated with the cluster (asynchronously)
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getClusterArtifactsAsync(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ApiCallback<List<ClusterArtifactResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getClusterArtifactsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ClusterArtifactResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getClusters
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getClustersCall(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getClustersValidateBeforeCall(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getClustersCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Returns all clusters
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ClusterResponseWrapper&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ClusterResponseWrapper> getClusters(String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        ApiResponse<List<ClusterResponseWrapper>> resp = getClustersWithHttpInfo(fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Returns all clusters
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ClusterResponseWrapper&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ClusterResponseWrapper>> getClustersWithHttpInfo(String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        com.squareup.okhttp.Call call = getClustersValidateBeforeCall(fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ClusterResponseWrapper>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns all clusters (asynchronously)
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getClustersAsync(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ApiCallback<List<ClusterResponseWrapper>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getClustersValidateBeforeCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ClusterResponseWrapper>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCluster
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateClusterCall(String clusterName, ClusterRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateClusterValidateBeforeCall(String clusterName, ClusterRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling updateCluster(Async)");
        }
        

        com.squareup.okhttp.Call call = updateClusterCall(clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates a cluster
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateCluster(String clusterName, ClusterRequestSwagger body) throws ApiException {
        updateClusterWithHttpInfo(clusterName, body);
    }

    /**
     * Updates a cluster
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateClusterWithHttpInfo(String clusterName, ClusterRequestSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = updateClusterValidateBeforeCall(clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates a cluster (asynchronously)
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateClusterAsync(String clusterName, ClusterRequestSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateClusterValidateBeforeCall(clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for updateClusterArtifact
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateClusterArtifactCall(String clusterName, String artifactName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateClusterArtifactValidateBeforeCall(String clusterName, String artifactName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling updateClusterArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling updateClusterArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = updateClusterArtifactCall(clusterName, artifactName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates a single artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateClusterArtifact(String clusterName, String artifactName, ClusterArtifactRequest body) throws ApiException {
        updateClusterArtifactWithHttpInfo(clusterName, artifactName, body);
    }

    /**
     * Updates a single artifact
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateClusterArtifactWithHttpInfo(String clusterName, String artifactName, ClusterArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = updateClusterArtifactValidateBeforeCall(clusterName, artifactName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates a single artifact (asynchronously)
     * 
     * @param clusterName  (required)
     * @param artifactName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateClusterArtifactAsync(String clusterName, String artifactName, ClusterArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateClusterArtifactValidateBeforeCall(clusterName, artifactName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for updateClusterArtifacts
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateClusterArtifactsCall(String clusterName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/artifacts"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateClusterArtifactsValidateBeforeCall(String clusterName, ClusterArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling updateClusterArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = updateClusterArtifactsCall(clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates multiple artifacts
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateClusterArtifacts(String clusterName, ClusterArtifactRequest body) throws ApiException {
        updateClusterArtifactsWithHttpInfo(clusterName, body);
    }

    /**
     * Updates multiple artifacts
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateClusterArtifactsWithHttpInfo(String clusterName, ClusterArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = updateClusterArtifactsValidateBeforeCall(clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates multiple artifacts (asynchronously)
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateClusterArtifactsAsync(String clusterName, ClusterArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateClusterArtifactsValidateBeforeCall(clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }

    public void clusterRequests(String clusterName, ClusterRequest request) throws ApiException {
        Call call = clusterRequestsCall(clusterName, request, null, null);

//        Type localVarReturnType = new TypeToken<CreateClusterResponseWrapper>(){}.getType();
        ApiResponse<Void> execute = apiClient.execute(call);
        return ;
    }

    private com.squareup.okhttp.Call clusterRequestsCall(String clusterName, ClusterRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        ClusterRequest localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/requests"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
[...]
