/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import sunbox.sdp.ambari.client.ApiCallback;
import sunbox.sdp.ambari.client.ApiClient;
import sunbox.sdp.ambari.client.ApiException;
import sunbox.sdp.ambari.client.ApiResponse;
import sunbox.sdp.ambari.client.Configuration;
import sunbox.sdp.ambari.client.Pair;
import sunbox.sdp.ambari.client.ProgressRequestBody;
import sunbox.sdp.ambari.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import sunbox.sdp.ambari.client.model.*;
import sunbox.sdp.ambari.client.model.createclusterprocess.CreateClusterResponseWrapper;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ClusterServicesApi {
    private ApiClient apiClient;

    public ClusterServicesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ClusterServicesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for serviceServiceCreateArtifact
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceCreateArtifactCall(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceCreateArtifactValidateBeforeCall(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceCreateArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling serviceServiceCreateArtifact(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceCreateArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceCreateArtifactCall(serviceName, artifactName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceCreateArtifact(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        serviceServiceCreateArtifactWithHttpInfo(serviceName, artifactName, clusterName, body);
    }

    /**
     * Creates a service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceCreateArtifactWithHttpInfo(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceCreateArtifactValidateBeforeCall(serviceName, artifactName, clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates a service artifact (asynchronously)
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceCreateArtifactAsync(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceCreateArtifactValidateBeforeCall(serviceName, artifactName, clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceCreateServices
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceCreateServicesCall(String serviceName, String clusterName, ServiceRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceCreateServicesValidateBeforeCall(String serviceName, String clusterName, ServiceRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceCreateServices(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceCreateServices(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceCreateServicesCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceCreateServices(String serviceName, String clusterName, ServiceRequestSwagger body) throws ApiException {
        serviceServiceCreateServicesWithHttpInfo(serviceName, clusterName, body);
    }

    /**
     * Creates a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceCreateServicesWithHttpInfo(String serviceName, String clusterName, ServiceRequestSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceCreateServicesValidateBeforeCall(serviceName, clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates a service (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceCreateServicesAsync(String serviceName, String clusterName, ServiceRequestSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceCreateServicesValidateBeforeCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceDeleteArtifact
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteArtifactCall(String serviceName, String artifactName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceDeleteArtifactValidateBeforeCall(String serviceName, String artifactName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceDeleteArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling serviceServiceDeleteArtifact(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceDeleteArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactCall(serviceName, artifactName, clusterName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a single service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceDeleteArtifact(String serviceName, String artifactName, String clusterName) throws ApiException {
        serviceServiceDeleteArtifactWithHttpInfo(serviceName, artifactName, clusterName);
    }

    /**
     * Deletes a single service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceDeleteArtifactWithHttpInfo(String serviceName, String artifactName, String clusterName) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactValidateBeforeCall(serviceName, artifactName, clusterName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes a single service artifact (asynchronously)
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteArtifactAsync(String serviceName, String artifactName, String clusterName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactValidateBeforeCall(serviceName, artifactName, clusterName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceDeleteArtifacts
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteArtifactsCall(String serviceName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceDeleteArtifactsValidateBeforeCall(String serviceName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceDeleteArtifacts(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceDeleteArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactsCall(serviceName, clusterName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes all artifacts of a service that match the provided predicate
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceDeleteArtifacts(String serviceName, String clusterName) throws ApiException {
        serviceServiceDeleteArtifactsWithHttpInfo(serviceName, clusterName);
    }

    /**
     * Deletes all artifacts of a service that match the provided predicate
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceDeleteArtifactsWithHttpInfo(String serviceName, String clusterName) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactsValidateBeforeCall(serviceName, clusterName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes all artifacts of a service that match the provided predicate (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteArtifactsAsync(String serviceName, String clusterName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceDeleteArtifactsValidateBeforeCall(serviceName, clusterName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceDeleteService
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteServiceCall(String serviceName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceDeleteServiceValidateBeforeCall(String serviceName, String clusterName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceDeleteService(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceDeleteService(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceDeleteServiceCall(serviceName, clusterName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Deletes a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceDeleteService(String serviceName, String clusterName) throws ApiException {
        serviceServiceDeleteServiceWithHttpInfo(serviceName, clusterName);
    }

    /**
     * Deletes a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceDeleteServiceWithHttpInfo(String serviceName, String clusterName) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceDeleteServiceValidateBeforeCall(serviceName, clusterName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes a service (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceDeleteServiceAsync(String serviceName, String clusterName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceDeleteServiceValidateBeforeCall(serviceName, clusterName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceGetArtifact
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetArtifactCall(String serviceName, String artifactName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceGetArtifactValidateBeforeCall(String serviceName, String artifactName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceGetArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling serviceServiceGetArtifact(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceGetArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceGetArtifactCall(serviceName, artifactName, clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get the details of a service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ClusterServiceArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ClusterServiceArtifactResponse> serviceServiceGetArtifact(String serviceName, String artifactName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<ClusterServiceArtifactResponse>> resp = serviceServiceGetArtifactWithHttpInfo(serviceName, artifactName, clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get the details of a service artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ClusterServiceArtifactResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ClusterServiceArtifactResponse>> serviceServiceGetArtifactWithHttpInfo(String serviceName, String artifactName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceGetArtifactValidateBeforeCall(serviceName, artifactName, clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ClusterServiceArtifactResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the details of a service artifact (asynchronously)
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetArtifactAsync(String serviceName, String artifactName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<ClusterServiceArtifactResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceGetArtifactValidateBeforeCall(serviceName, artifactName, clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ClusterServiceArtifactResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceServiceGetArtifacts
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetArtifactsCall(String serviceName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceGetArtifactsValidateBeforeCall(String serviceName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceGetArtifacts(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceGetArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceGetArtifactsCall(serviceName, clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all service artifacts
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ClusterServiceArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ClusterServiceArtifactResponse> serviceServiceGetArtifacts(String serviceName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<ClusterServiceArtifactResponse>> resp = serviceServiceGetArtifactsWithHttpInfo(serviceName, clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all service artifacts
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ClusterServiceArtifactResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ClusterServiceArtifactResponse>> serviceServiceGetArtifactsWithHttpInfo(String serviceName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceGetArtifactsValidateBeforeCall(serviceName, clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ClusterServiceArtifactResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all service artifacts (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Artifacts/artifact_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Artifacts/artifact_name)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetArtifactsAsync(String serviceName, String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<ClusterServiceArtifactResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceGetArtifactsValidateBeforeCall(serviceName, clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ClusterServiceArtifactResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceServiceGetService
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetServiceCall(String serviceName, String clusterName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceGetServiceValidateBeforeCall(String serviceName, String clusterName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceGetService(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceGetService(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceGetServiceCall(serviceName, clusterName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get the details of a service
     * Returns the details of a service.
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/*)
     * @return List&lt;ServiceResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ServiceResponseSwagger> serviceServiceGetService(String serviceName, String clusterName, String fields) throws ApiException {
        ApiResponse<List<ServiceResponseSwagger>> resp = serviceServiceGetServiceWithHttpInfo(serviceName, clusterName, fields);
        return resp.getData();
    }

    /**
     * Get the details of a service
     * Returns the details of a service.
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/*)
     * @return ApiResponse&lt;List&lt;ServiceResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ServiceResponseSwagger>> serviceServiceGetServiceWithHttpInfo(String serviceName, String clusterName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceGetServiceValidateBeforeCall(serviceName, clusterName, fields, null, null);
        Type localVarReturnType = new TypeToken<List<ServiceResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the details of a service (asynchronously)
     * Returns the details of a service.
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetServiceAsync(String serviceName, String clusterName, String fields, final ApiCallback<List<ServiceResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceGetServiceValidateBeforeCall(serviceName, clusterName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ServiceResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceServiceGetServices
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/service_name,ServiceInfo/cluster_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to ServiceInfo/service_name.asc,ServiceInfo/cluster_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetServicesCall(String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceGetServicesValidateBeforeCall(String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceGetServices(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceGetServicesCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all services
     * Returns all services.
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/service_name,ServiceInfo/cluster_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to ServiceInfo/service_name.asc,ServiceInfo/cluster_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ServiceResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ServiceResponseSwagger> serviceServiceGetServices(String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<ServiceResponseSwagger>> resp = serviceServiceGetServicesWithHttpInfo(clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all services
     * Returns all services.
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/service_name,ServiceInfo/cluster_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to ServiceInfo/service_name.asc,ServiceInfo/cluster_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ServiceResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ServiceResponseSwagger>> serviceServiceGetServicesWithHttpInfo(String clusterName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceGetServicesValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ServiceResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all services (asynchronously)
     * Returns all services.
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to ServiceInfo/service_name,ServiceInfo/cluster_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to ServiceInfo/service_name.asc,ServiceInfo/cluster_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceGetServicesAsync(String clusterName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<ServiceResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceGetServicesValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ServiceResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for serviceServiceUpdateArtifact
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateArtifactCall(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts/{artifactName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceUpdateArtifactValidateBeforeCall(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceUpdateArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling serviceServiceUpdateArtifact(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceUpdateArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactCall(serviceName, artifactName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates a single artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceUpdateArtifact(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        serviceServiceUpdateArtifactWithHttpInfo(serviceName, artifactName, clusterName, body);
    }

    /**
     * Updates a single artifact
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceUpdateArtifactWithHttpInfo(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactValidateBeforeCall(serviceName, artifactName, clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates a single artifact (asynchronously)
     * 
     * @param serviceName  (required)
     * @param artifactName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateArtifactAsync(String serviceName, String artifactName, String clusterName, ClusterServiceArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactValidateBeforeCall(serviceName, artifactName, clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceUpdateArtifacts
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateArtifactsCall(String serviceName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}/artifacts"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceUpdateArtifactsValidateBeforeCall(String serviceName, String clusterName, ClusterServiceArtifactRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceUpdateArtifacts(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceUpdateArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactsCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates multiple artifacts
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceUpdateArtifacts(String serviceName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        serviceServiceUpdateArtifactsWithHttpInfo(serviceName, clusterName, body);
    }

    /**
     * Updates multiple artifacts
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceUpdateArtifactsWithHttpInfo(String serviceName, String clusterName, ClusterServiceArtifactRequest body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactsValidateBeforeCall(serviceName, clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates multiple artifacts (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateArtifactsAsync(String serviceName, String clusterName, ClusterServiceArtifactRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceUpdateArtifactsValidateBeforeCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for serviceServiceUpdateService
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateServiceCall(String serviceName, String clusterName, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services/{serviceName}"
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    public com.squareup.okhttp.Call serviceServiceUpdateServiceCall(String clusterName, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/services"
                .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
                "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call serviceServiceUpdateServiceValidateBeforeCall(String serviceName, String clusterName, ServiceRequestSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceUpdateService(Async)");
        }
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceUpdateService(Async)");
        }
        

        com.squareup.okhttp.Call call = serviceServiceUpdateServiceCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }
    private com.squareup.okhttp.Call serviceServiceUpdateServiceValidateBeforeCall(String serviceName, String clusterName, ClusterServiceStateRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling serviceServiceUpdateService(Async)");
        }

        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceUpdateService(Async)");
        }


        com.squareup.okhttp.Call call = serviceServiceUpdateServiceCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    private com.squareup.okhttp.Call serviceServiceUpdateServiceValidateBeforeCall(String clusterName, ClusterServiceStateRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling serviceServiceUpdateService(Async)");
        }


        com.squareup.okhttp.Call call = serviceServiceUpdateServiceCall(clusterName, body, progressListener, progressRequestListener);
        return call;

    }


    /**
     * Updates a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void serviceServiceUpdateService(String serviceName, String clusterName, ServiceRequestSwagger body) throws ApiException {
        serviceServiceUpdateServiceWithHttpInfo(serviceName, clusterName, body);
    }

    /**
     * 更新一个服务的状态
     * @param serviceName 服务名
     * @param clusterName 集群名
     * @param body 请求报文体
     * @throws ApiException
     */
    public CreateClusterResponseWrapper serviceServiceUpdateService(String serviceName, String clusterName, ClusterServiceStateRequest body) throws ApiException {
        ApiResponse<CreateClusterResponseWrapper> response = serviceServiceUpdateServiceWithHttpInfo(serviceName, clusterName, body);
        return response.getData();
    }

    /**
     * 更新一个服务的状态
     * @param serviceName 服务名
     * @param clusterName 集群名
     * @param body 请求报文体
     * @throws ApiException
     */
    public CreateClusterResponseWrapper serviceServiceUpdateService(String clusterName, ClusterServiceStateRequest body) throws ApiException {
        ApiResponse<CreateClusterResponseWrapper> response = serviceServiceUpdateServiceWithHttpInfo(clusterName, body);
        return response.getData();
    }


    /**
     * Updates a service
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> serviceServiceUpdateServiceWithHttpInfo(String serviceName, String clusterName, ServiceRequestSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceUpdateServiceValidateBeforeCall(serviceName, clusterName, body, null, null);
        return apiClient.execute(call);
    }

    public ApiResponse<CreateClusterResponseWrapper> serviceServiceUpdateServiceWithHttpInfo(String serviceName, String clusterName, ClusterServiceStateRequest body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceUpdateServiceValidateBeforeCall(serviceName, clusterName, body, null, null);

        Type localVarReturnType = new TypeToken<CreateClusterResponseWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    public ApiResponse<CreateClusterResponseWrapper> serviceServiceUpdateServiceWithHttpInfo(String clusterName, ClusterServiceStateRequest body) throws ApiException {
        com.squareup.okhttp.Call call = serviceServiceUpdateServiceValidateBeforeCall(clusterName, body, null, null);

        Type localVarReturnType = new TypeToken<CreateClusterResponseWrapper>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Updates a service (asynchronously)
     * 
     * @param serviceName  (required)
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call serviceServiceUpdateServiceAsync(String serviceName, String clusterName, ServiceRequestSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = serviceServiceUpdateServiceValidateBeforeCall(serviceName, clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
