/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import sunbox.sdp.ambari.client.ApiCallback;
import sunbox.sdp.ambari.client.ApiClient;
import sunbox.sdp.ambari.client.ApiException;
import sunbox.sdp.ambari.client.ApiResponse;
import sunbox.sdp.ambari.client.Configuration;
import sunbox.sdp.ambari.client.Pair;
import sunbox.sdp.ambari.client.ProgressRequestBody;
import sunbox.sdp.ambari.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import sunbox.sdp.ambari.client.model.ConfigurationRequest;
import sunbox.sdp.ambari.client.model.ConfigurationResponse;
import sunbox.sdp.ambari.client.model.ServiceConfigVersionResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ConfigurationsApi {
    private ApiClient apiClient;

    public ConfigurationsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ConfigurationsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createConfigurations
     * @param clusterName  (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createConfigurationsCall(String clusterName, ConfigurationRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/configurations"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createConfigurationsValidateBeforeCall(String clusterName, ConfigurationRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling createConfigurations(Async)");
        }
        

        com.squareup.okhttp.Call call = createConfigurationsCall(clusterName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create new configurations
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createConfigurations(String clusterName, ConfigurationRequest body) throws ApiException {
        createConfigurationsWithHttpInfo(clusterName, body);
    }

    /**
     * Create new configurations
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createConfigurationsWithHttpInfo(String clusterName, ConfigurationRequest body) throws ApiException {
        com.squareup.okhttp.Call call = createConfigurationsValidateBeforeCall(clusterName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create new configurations (asynchronously)
     * 
     * @param clusterName  (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createConfigurationsAsync(String clusterName, ConfigurationRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createConfigurationsValidateBeforeCall(clusterName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getConfigurations
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getConfigurationsCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/configurations"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getConfigurationsValidateBeforeCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getConfigurations(Async)");
        }
        

        com.squareup.okhttp.Call call = getConfigurationsCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all configurations
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ConfigurationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ConfigurationResponse> getConfigurations(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        ApiResponse<List<ConfigurationResponse>> resp = getConfigurationsWithHttpInfo(clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all configurations
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ConfigurationResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ConfigurationResponse>> getConfigurationsWithHttpInfo(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        com.squareup.okhttp.Call call = getConfigurationsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ConfigurationResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all configurations (asynchronously)
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getConfigurationsAsync(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ApiCallback<List<ConfigurationResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getConfigurationsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ConfigurationResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getServiceConfigVersions
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getServiceConfigVersionsCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/clusters/{clusterName}/configurations/service_config_versions"
            .replaceAll("\\{" + "clusterName" + "\\}", apiClient.escapeString(clusterName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getServiceConfigVersionsValidateBeforeCall(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'clusterName' is set
        if (clusterName == null) {
            throw new ApiException("Missing the required parameter 'clusterName' when calling getServiceConfigVersions(Async)");
        }
        

        com.squareup.okhttp.Call call = getServiceConfigVersionsCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all service config versions
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ServiceConfigVersionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ServiceConfigVersionResponse> getServiceConfigVersions(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        ApiResponse<List<ServiceConfigVersionResponse>> resp = getServiceConfigVersionsWithHttpInfo(clusterName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all service config versions
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ServiceConfigVersionResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ServiceConfigVersionResponse>> getServiceConfigVersionsWithHttpInfo(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        com.squareup.okhttp.Call call = getServiceConfigVersionsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ServiceConfigVersionResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all service config versions (asynchronously)
     * 
     * @param clusterName  (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional)
     * @param sortBy Sort resources in result by (asc | desc) (optional)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getServiceConfigVersionsAsync(String clusterName, String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ApiCallback<List<ServiceConfigVersionResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getServiceConfigVersionsValidateBeforeCall(clusterName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ServiceConfigVersionResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
