/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import sunbox.sdp.ambari.client.ApiCallback;
import sunbox.sdp.ambari.client.ApiClient;
import sunbox.sdp.ambari.client.ApiException;
import sunbox.sdp.ambari.client.ApiResponse;
import sunbox.sdp.ambari.client.Configuration;
import sunbox.sdp.ambari.client.Pair;
import sunbox.sdp.ambari.client.ProgressRequestBody;
import sunbox.sdp.ambari.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import sunbox.sdp.ambari.client.model.GroupPrivilegeResponse;
import sunbox.sdp.ambari.client.model.GroupRequest;
import sunbox.sdp.ambari.client.model.GroupResponse;
import sunbox.sdp.ambari.client.model.MemberRequest;
import sunbox.sdp.ambari.client.model.MemberResponse;
import sunbox.sdp.ambari.client.model.PrivilegeResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GroupsApi {
    private ApiClient apiClient;

    public GroupsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GroupsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for groupPrivilegeServiceGetPrivilege
     * @param groupName group name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter group privilege details (optional, default to PrivilegeInfo/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegeCall(String groupName, String privilegeId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/privileges/{privilegeId}"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()))
            .replaceAll("\\{" + "privilegeId" + "\\}", apiClient.escapeString(privilegeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegeValidateBeforeCall(String groupName, String privilegeId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling groupPrivilegeServiceGetPrivilege(Async)");
        }
        
        // verify the required parameter 'privilegeId' is set
        if (privilegeId == null) {
            throw new ApiException("Missing the required parameter 'privilegeId' when calling groupPrivilegeServiceGetPrivilege(Async)");
        }
        

        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegeCall(groupName, privilegeId, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get group privilege
     * Returns group privilege details.
     * @param groupName group name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter group privilege details (optional, default to PrivilegeInfo/*)
     * @return PrivilegeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PrivilegeResponse groupPrivilegeServiceGetPrivilege(String groupName, String privilegeId, String fields) throws ApiException {
        ApiResponse<PrivilegeResponse> resp = groupPrivilegeServiceGetPrivilegeWithHttpInfo(groupName, privilegeId, fields);
        return resp.getData();
    }

    /**
     * Get group privilege
     * Returns group privilege details.
     * @param groupName group name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter group privilege details (optional, default to PrivilegeInfo/*)
     * @return ApiResponse&lt;PrivilegeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PrivilegeResponse> groupPrivilegeServiceGetPrivilegeWithHttpInfo(String groupName, String privilegeId, String fields) throws ApiException {
        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegeValidateBeforeCall(groupName, privilegeId, fields, null, null);
        Type localVarReturnType = new TypeToken<PrivilegeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get group privilege (asynchronously)
     * Returns group privilege details.
     * @param groupName group name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter group privilege details (optional, default to PrivilegeInfo/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegeAsync(String groupName, String privilegeId, String fields, final ApiCallback<PrivilegeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegeValidateBeforeCall(groupName, privilegeId, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PrivilegeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for groupPrivilegeServiceGetPrivileges
     * @param groupName group name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegesCall(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/privileges"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegesValidateBeforeCall(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling groupPrivilegeServiceGetPrivileges(Async)");
        }
        

        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegesCall(groupName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all privileges
     * Returns all privileges for group.
     * @param groupName group name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;GroupPrivilegeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<GroupPrivilegeResponse> groupPrivilegeServiceGetPrivileges(String groupName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<GroupPrivilegeResponse>> resp = groupPrivilegeServiceGetPrivilegesWithHttpInfo(groupName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all privileges
     * Returns all privileges for group.
     * @param groupName group name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;GroupPrivilegeResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<GroupPrivilegeResponse>> groupPrivilegeServiceGetPrivilegesWithHttpInfo(String groupName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegesValidateBeforeCall(groupName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<GroupPrivilegeResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all privileges (asynchronously)
     * Returns all privileges for group.
     * @param groupName group name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupPrivilegeServiceGetPrivilegesAsync(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<GroupPrivilegeResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupPrivilegeServiceGetPrivilegesValidateBeforeCall(groupName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<GroupPrivilegeResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for groupServiceCreateGroup
     * @param body input parameters in json form (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupServiceCreateGroupCall(GroupRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/groups";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupServiceCreateGroupValidateBeforeCall(GroupRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling groupServiceCreateGroup(Async)");
        }
        

        com.squareup.okhttp.Call call = groupServiceCreateGroupCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create new group
     * Creates group resource.
     * @param body input parameters in json form (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void groupServiceCreateGroup(GroupRequest body) throws ApiException {
        groupServiceCreateGroupWithHttpInfo(body);
    }

    /**
     * Create new group
     * Creates group resource.
     * @param body input parameters in json form (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> groupServiceCreateGroupWithHttpInfo(GroupRequest body) throws ApiException {
        com.squareup.okhttp.Call call = groupServiceCreateGroupValidateBeforeCall(body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create new group (asynchronously)
     * Creates group resource.
     * @param body input parameters in json form (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupServiceCreateGroupAsync(GroupRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupServiceCreateGroupValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for groupServiceDeleteGroup
     * @param groupName group name (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupServiceDeleteGroupCall(String groupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupServiceDeleteGroupValidateBeforeCall(String groupName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling groupServiceDeleteGroup(Async)");
        }
        

        com.squareup.okhttp.Call call = groupServiceDeleteGroupCall(groupName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete group
     * Delete group resource.
     * @param groupName group name (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void groupServiceDeleteGroup(String groupName) throws ApiException {
        groupServiceDeleteGroupWithHttpInfo(groupName);
    }

    /**
     * Delete group
     * Delete group resource.
     * @param groupName group name (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> groupServiceDeleteGroupWithHttpInfo(String groupName) throws ApiException {
        com.squareup.okhttp.Call call = groupServiceDeleteGroupValidateBeforeCall(groupName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete group (asynchronously)
     * Delete group resource.
     * @param groupName group name (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupServiceDeleteGroupAsync(String groupName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupServiceDeleteGroupValidateBeforeCall(groupName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for groupServiceGetGroup
     * @param groupName group name (required)
     * @param fields Filter group details (optional, default to Groups)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupServiceGetGroupCall(String groupName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupServiceGetGroupValidateBeforeCall(String groupName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling groupServiceGetGroup(Async)");
        }
        

        com.squareup.okhttp.Call call = groupServiceGetGroupCall(groupName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get group
     * Returns group details.
     * @param groupName group name (required)
     * @param fields Filter group details (optional, default to Groups)
     * @return GroupResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GroupResponse groupServiceGetGroup(String groupName, String fields) throws ApiException {
        ApiResponse<GroupResponse> resp = groupServiceGetGroupWithHttpInfo(groupName, fields);
        return resp.getData();
    }

    /**
     * Get group
     * Returns group details.
     * @param groupName group name (required)
     * @param fields Filter group details (optional, default to Groups)
     * @return ApiResponse&lt;GroupResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GroupResponse> groupServiceGetGroupWithHttpInfo(String groupName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = groupServiceGetGroupValidateBeforeCall(groupName, fields, null, null);
        Type localVarReturnType = new TypeToken<GroupResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get group (asynchronously)
     * Returns group details.
     * @param groupName group name (required)
     * @param fields Filter group details (optional, default to Groups)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupServiceGetGroupAsync(String groupName, String fields, final ApiCallback<GroupResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupServiceGetGroupValidateBeforeCall(groupName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GroupResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for groupServiceGetGroups
     * @param fields Filter group details (optional, default to Groups/*)
     * @param sortBy Sort groups (asc | desc) (optional, default to Groups/group_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call groupServiceGetGroupsCall(String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call groupServiceGetGroupsValidateBeforeCall(String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = groupServiceGetGroupsCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all groups
     * Returns details of all groups.
     * @param fields Filter group details (optional, default to Groups/*)
     * @param sortBy Sort groups (asc | desc) (optional, default to Groups/group_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;GroupResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<GroupResponse> groupServiceGetGroups(String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<GroupResponse>> resp = groupServiceGetGroupsWithHttpInfo(fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all groups
     * Returns details of all groups.
     * @param fields Filter group details (optional, default to Groups/*)
     * @param sortBy Sort groups (asc | desc) (optional, default to Groups/group_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;GroupResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<GroupResponse>> groupServiceGetGroupsWithHttpInfo(String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = groupServiceGetGroupsValidateBeforeCall(fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<GroupResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all groups (asynchronously)
     * Returns details of all groups.
     * @param fields Filter group details (optional, default to Groups/*)
     * @param sortBy Sort groups (asc | desc) (optional, default to Groups/group_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call groupServiceGetGroupsAsync(String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<GroupResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = groupServiceGetGroupsValidateBeforeCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<GroupResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for memberServiceDeleteMember
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call memberServiceDeleteMemberCall(String groupName, String userName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/members/{userName}"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()))
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call memberServiceDeleteMemberValidateBeforeCall(String groupName, String userName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling memberServiceDeleteMember(Async)");
        }
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling memberServiceDeleteMember(Async)");
        }
        

        com.squareup.okhttp.Call call = memberServiceDeleteMemberCall(groupName, userName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete group member
     * Delete member resource.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void memberServiceDeleteMember(String groupName, String userName) throws ApiException {
        memberServiceDeleteMemberWithHttpInfo(groupName, userName);
    }

    /**
     * Delete group member
     * Delete member resource.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> memberServiceDeleteMemberWithHttpInfo(String groupName, String userName) throws ApiException {
        com.squareup.okhttp.Call call = memberServiceDeleteMemberValidateBeforeCall(groupName, userName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete group member (asynchronously)
     * Delete member resource.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call memberServiceDeleteMemberAsync(String groupName, String userName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = memberServiceDeleteMemberValidateBeforeCall(groupName, userName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for memberServiceGetMember
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param fields Filter member details (optional, default to MemberInfo)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call memberServiceGetMemberCall(String groupName, String userName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/members/{userName}"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()))
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call memberServiceGetMemberValidateBeforeCall(String groupName, String userName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling memberServiceGetMember(Async)");
        }
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling memberServiceGetMember(Async)");
        }
        

        com.squareup.okhttp.Call call = memberServiceGetMemberCall(groupName, userName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get group member
     * Returns member details.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param fields Filter member details (optional, default to MemberInfo)
     * @return MemberResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MemberResponse memberServiceGetMember(String groupName, String userName, String fields) throws ApiException {
        ApiResponse<MemberResponse> resp = memberServiceGetMemberWithHttpInfo(groupName, userName, fields);
        return resp.getData();
    }

    /**
     * Get group member
     * Returns member details.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param fields Filter member details (optional, default to MemberInfo)
     * @return ApiResponse&lt;MemberResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MemberResponse> memberServiceGetMemberWithHttpInfo(String groupName, String userName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = memberServiceGetMemberValidateBeforeCall(groupName, userName, fields, null, null);
        Type localVarReturnType = new TypeToken<MemberResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get group member (asynchronously)
     * Returns member details.
     * @param groupName group name (required)
     * @param userName user name (required)
     * @param fields Filter member details (optional, default to MemberInfo)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call memberServiceGetMemberAsync(String groupName, String userName, String fields, final ApiCallback<MemberResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = memberServiceGetMemberValidateBeforeCall(groupName, userName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MemberResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for memberServiceGetMembers
     * @param groupName group name (required)
     * @param fields Filter member details (optional, default to MemberInfo/*)
     * @param sortBy Sort members (asc | desc) (optional, default to MemberInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call memberServiceGetMembersCall(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/members"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call memberServiceGetMembersValidateBeforeCall(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling memberServiceGetMembers(Async)");
        }
        

        com.squareup.okhttp.Call call = memberServiceGetMembersCall(groupName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all group members
     * Returns details of all members.
     * @param groupName group name (required)
     * @param fields Filter member details (optional, default to MemberInfo/*)
     * @param sortBy Sort members (asc | desc) (optional, default to MemberInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;MemberResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<MemberResponse> memberServiceGetMembers(String groupName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<MemberResponse>> resp = memberServiceGetMembersWithHttpInfo(groupName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all group members
     * Returns details of all members.
     * @param groupName group name (required)
     * @param fields Filter member details (optional, default to MemberInfo/*)
     * @param sortBy Sort members (asc | desc) (optional, default to MemberInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;MemberResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<MemberResponse>> memberServiceGetMembersWithHttpInfo(String groupName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = memberServiceGetMembersValidateBeforeCall(groupName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<MemberResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all group members (asynchronously)
     * Returns details of all members.
     * @param groupName group name (required)
     * @param fields Filter member details (optional, default to MemberInfo/*)
     * @param sortBy Sort members (asc | desc) (optional, default to MemberInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call memberServiceGetMembersAsync(String groupName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<MemberResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = memberServiceGetMembersValidateBeforeCall(groupName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<MemberResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for memberServiceUpdateMembers
     * @param groupName group name (required)
     * @param body input parameters in json form (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call memberServiceUpdateMembersCall(String groupName, MemberRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/groups/{groupName}/members"
            .replaceAll("\\{" + "groupName" + "\\}", apiClient.escapeString(groupName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call memberServiceUpdateMembersValidateBeforeCall(String groupName, MemberRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'groupName' is set
        if (groupName == null) {
            throw new ApiException("Missing the required parameter 'groupName' when calling memberServiceUpdateMembers(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling memberServiceUpdateMembers(Async)");
        }
        

        com.squareup.okhttp.Call call = memberServiceUpdateMembersCall(groupName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update group members
     * Updates group member resources.
     * @param groupName group name (required)
     * @param body input parameters in json form (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void memberServiceUpdateMembers(String groupName, MemberRequest body) throws ApiException {
        memberServiceUpdateMembersWithHttpInfo(groupName, body);
    }

    /**
     * Update group members
     * Updates group member resources.
     * @param groupName group name (required)
     * @param body input parameters in json form (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> memberServiceUpdateMembersWithHttpInfo(String groupName, MemberRequest body) throws ApiException {
        com.squareup.okhttp.Call call = memberServiceUpdateMembersValidateBeforeCall(groupName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Update group members (asynchronously)
     * Updates group member resources.
     * @param groupName group name (required)
     * @param body input parameters in json form (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call memberServiceUpdateMembersAsync(String groupName, MemberRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = memberServiceUpdateMembersValidateBeforeCall(groupName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
