/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import sunbox.sdp.ambari.client.ApiCallback;
import sunbox.sdp.ambari.client.ApiClient;
import sunbox.sdp.ambari.client.ApiException;
import sunbox.sdp.ambari.client.ApiResponse;
import sunbox.sdp.ambari.client.Configuration;
import sunbox.sdp.ambari.client.Pair;
import sunbox.sdp.ambari.client.ProgressRequestBody;
import sunbox.sdp.ambari.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import sunbox.sdp.ambari.client.model.ComponentDependencyResponse;
import sunbox.sdp.ambari.client.model.ExtensionLinkResponse;
import sunbox.sdp.ambari.client.model.QuickLinksResponse;
import sunbox.sdp.ambari.client.model.StackArtifactResponse;
import sunbox.sdp.ambari.client.model.StackConfigurationDependencyResponseSwagger;
import sunbox.sdp.ambari.client.model.StackConfigurationResponseSwagger;
import sunbox.sdp.ambari.client.model.StackResponseSwagger;
import sunbox.sdp.ambari.client.model.StackServiceArtifactResponse;
import sunbox.sdp.ambari.client.model.StackServiceComponentResponseSwagger;
import sunbox.sdp.ambari.client.model.StackServiceResponseSwagger;
import sunbox.sdp.ambari.client.model.StackVersionResponseSwagger;
import sunbox.sdp.ambari.client.model.ThemeResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StacksApi {
    private ApiClient apiClient;

    public StacksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StacksApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for stacksServiceGetServiceComponent
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentCall(String stackName, String stackVersion, String serviceName, String componentName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/components/{componentName}"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "componentName" + "\\}", apiClient.escapeString(componentName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetServiceComponentValidateBeforeCall(String stackName, String stackVersion, String serviceName, String componentName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetServiceComponent(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetServiceComponent(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetServiceComponent(Async)");
        }
        
        // verify the required parameter 'componentName' is set
        if (componentName == null) {
            throw new ApiException("Missing the required parameter 'componentName' when calling stacksServiceGetServiceComponent(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentCall(stackName, stackVersion, serviceName, componentName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get details for a stack service component
     * Returns details for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/*)
     * @return StackServiceComponentResponseSwagger
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StackServiceComponentResponseSwagger stacksServiceGetServiceComponent(String stackName, String stackVersion, String serviceName, String componentName, String fields) throws ApiException {
        ApiResponse<StackServiceComponentResponseSwagger> resp = stacksServiceGetServiceComponentWithHttpInfo(stackName, stackVersion, serviceName, componentName, fields);
        return resp.getData();
    }

    /**
     * Get details for a stack service component
     * Returns details for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/*)
     * @return ApiResponse&lt;StackServiceComponentResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StackServiceComponentResponseSwagger> stacksServiceGetServiceComponentWithHttpInfo(String stackName, String stackVersion, String serviceName, String componentName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentValidateBeforeCall(stackName, stackVersion, serviceName, componentName, fields, null, null);
        Type localVarReturnType = new TypeToken<StackServiceComponentResponseSwagger>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get details for a stack service component (asynchronously)
     * Returns details for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentAsync(String stackName, String stackVersion, String serviceName, String componentName, String fields, final ApiCallback<StackServiceComponentResponseSwagger> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentValidateBeforeCall(stackName, stackVersion, serviceName, componentName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StackServiceComponentResponseSwagger>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetServiceComponentDependencies
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/stack_name,Dependencies/stack_version,Dependencies/dependent_service_name,Dependencies/dependent_component_name,Dependencies/component_name)
     * @param sortBy Sort component dependencies (asc | desc) (optional, default to Dependencies/stack_name.asc,Dependencies/stack_version.asc,Dependencies/dependent_service_name.asc,Dependencies/dependent_component_name.asc,Dependencies/component_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentDependenciesCall(String stackName, String stackVersion, String serviceName, String componentName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/components/{componentName}/dependencies"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "componentName" + "\\}", apiClient.escapeString(componentName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetServiceComponentDependenciesValidateBeforeCall(String stackName, String stackVersion, String serviceName, String componentName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetServiceComponentDependencies(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetServiceComponentDependencies(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetServiceComponentDependencies(Async)");
        }
        
        // verify the required parameter 'componentName' is set
        if (componentName == null) {
            throw new ApiException("Missing the required parameter 'componentName' when calling stacksServiceGetServiceComponentDependencies(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependenciesCall(stackName, stackVersion, serviceName, componentName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all dependencies for a stack service component
     * Returns all dependencies for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/stack_name,Dependencies/stack_version,Dependencies/dependent_service_name,Dependencies/dependent_component_name,Dependencies/component_name)
     * @param sortBy Sort component dependencies (asc | desc) (optional, default to Dependencies/stack_name.asc,Dependencies/stack_version.asc,Dependencies/dependent_service_name.asc,Dependencies/dependent_component_name.asc,Dependencies/component_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;ComponentDependencyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ComponentDependencyResponse> stacksServiceGetServiceComponentDependencies(String stackName, String stackVersion, String serviceName, String componentName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<ComponentDependencyResponse>> resp = stacksServiceGetServiceComponentDependenciesWithHttpInfo(stackName, stackVersion, serviceName, componentName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all dependencies for a stack service component
     * Returns all dependencies for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/stack_name,Dependencies/stack_version,Dependencies/dependent_service_name,Dependencies/dependent_component_name,Dependencies/component_name)
     * @param sortBy Sort component dependencies (asc | desc) (optional, default to Dependencies/stack_name.asc,Dependencies/stack_version.asc,Dependencies/dependent_service_name.asc,Dependencies/dependent_component_name.asc,Dependencies/component_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;ComponentDependencyResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ComponentDependencyResponse>> stacksServiceGetServiceComponentDependenciesWithHttpInfo(String stackName, String stackVersion, String serviceName, String componentName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependenciesValidateBeforeCall(stackName, stackVersion, serviceName, componentName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ComponentDependencyResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all dependencies for a stack service component (asynchronously)
     * Returns all dependencies for a stack service component.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/stack_name,Dependencies/stack_version,Dependencies/dependent_service_name,Dependencies/dependent_component_name,Dependencies/component_name)
     * @param sortBy Sort component dependencies (asc | desc) (optional, default to Dependencies/stack_name.asc,Dependencies/stack_version.asc,Dependencies/dependent_service_name.asc,Dependencies/dependent_component_name.asc,Dependencies/component_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentDependenciesAsync(String stackName, String stackVersion, String serviceName, String componentName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<ComponentDependencyResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependenciesValidateBeforeCall(stackName, stackVersion, serviceName, componentName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ComponentDependencyResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetServiceComponentDependency
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param dependencyName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentDependencyCall(String stackName, String stackVersion, String serviceName, String componentName, String dependencyName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/components/{componentName}/dependencies/{dependencyName}"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "componentName" + "\\}", apiClient.escapeString(componentName.toString()))
            .replaceAll("\\{" + "dependencyName" + "\\}", apiClient.escapeString(dependencyName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetServiceComponentDependencyValidateBeforeCall(String stackName, String stackVersion, String serviceName, String componentName, String dependencyName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetServiceComponentDependency(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetServiceComponentDependency(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetServiceComponentDependency(Async)");
        }
        
        // verify the required parameter 'componentName' is set
        if (componentName == null) {
            throw new ApiException("Missing the required parameter 'componentName' when calling stacksServiceGetServiceComponentDependency(Async)");
        }
        
        // verify the required parameter 'dependencyName' is set
        if (dependencyName == null) {
            throw new ApiException("Missing the required parameter 'dependencyName' when calling stacksServiceGetServiceComponentDependency(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependencyCall(stackName, stackVersion, serviceName, componentName, dependencyName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a stack service component dependency
     * Returns a stack service component dependency.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param dependencyName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/*)
     * @return ComponentDependencyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ComponentDependencyResponse stacksServiceGetServiceComponentDependency(String stackName, String stackVersion, String serviceName, String componentName, String dependencyName, String fields) throws ApiException {
        ApiResponse<ComponentDependencyResponse> resp = stacksServiceGetServiceComponentDependencyWithHttpInfo(stackName, stackVersion, serviceName, componentName, dependencyName, fields);
        return resp.getData();
    }

    /**
     * Get a stack service component dependency
     * Returns a stack service component dependency.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param dependencyName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/*)
     * @return ApiResponse&lt;ComponentDependencyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ComponentDependencyResponse> stacksServiceGetServiceComponentDependencyWithHttpInfo(String stackName, String stackVersion, String serviceName, String componentName, String dependencyName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependencyValidateBeforeCall(stackName, stackVersion, serviceName, componentName, dependencyName, fields, null, null);
        Type localVarReturnType = new TypeToken<ComponentDependencyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a stack service component dependency (asynchronously)
     * Returns a stack service component dependency.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param componentName  (required)
     * @param dependencyName  (required)
     * @param fields Filter returned attributes (optional, default to Dependencies/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentDependencyAsync(String stackName, String stackVersion, String serviceName, String componentName, String dependencyName, String fields, final ApiCallback<ComponentDependencyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentDependencyValidateBeforeCall(stackName, stackVersion, serviceName, componentName, dependencyName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ComponentDependencyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetServiceComponents
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/component_name,StackServiceComponents/service_name,StackServiceComponents/stack_name,StackServiceComponents/stack_version)
     * @param sortBy Sort service components (asc | desc) (optional, default to StackServiceComponents/component_name.asc,StackServiceComponents/service_name.asc,StackServiceComponents/stack_name.asc,StackServiceComponents/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentsCall(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/components"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetServiceComponentsValidateBeforeCall(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetServiceComponents(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetServiceComponents(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetServiceComponents(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentsCall(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all components for a stack service
     * Returns all components for a stack service.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/component_name,StackServiceComponents/service_name,StackServiceComponents/stack_name,StackServiceComponents/stack_version)
     * @param sortBy Sort service components (asc | desc) (optional, default to StackServiceComponents/component_name.asc,StackServiceComponents/service_name.asc,StackServiceComponents/stack_name.asc,StackServiceComponents/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;StackServiceComponentResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<StackServiceComponentResponseSwagger> stacksServiceGetServiceComponents(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<StackServiceComponentResponseSwagger>> resp = stacksServiceGetServiceComponentsWithHttpInfo(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all components for a stack service
     * Returns all components for a stack service.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/component_name,StackServiceComponents/service_name,StackServiceComponents/stack_name,StackServiceComponents/stack_version)
     * @param sortBy Sort service components (asc | desc) (optional, default to StackServiceComponents/component_name.asc,StackServiceComponents/service_name.asc,StackServiceComponents/stack_name.asc,StackServiceComponents/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;StackServiceComponentResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<StackServiceComponentResponseSwagger>> stacksServiceGetServiceComponentsWithHttpInfo(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentsValidateBeforeCall(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<StackServiceComponentResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all components for a stack service (asynchronously)
     * Returns all components for a stack service.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackServiceComponents/component_name,StackServiceComponents/service_name,StackServiceComponents/stack_name,StackServiceComponents/stack_version)
     * @param sortBy Sort service components (asc | desc) (optional, default to StackServiceComponents/component_name.asc,StackServiceComponents/service_name.asc,StackServiceComponents/stack_name.asc,StackServiceComponents/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetServiceComponentsAsync(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<StackServiceComponentResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetServiceComponentsValidateBeforeCall(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<StackServiceComponentResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStack
     * @param stackName  (required)
     * @param fields Filter stack details (optional, default to Stacks/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackCall(String stackName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackValidateBeforeCall(String stackName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStack(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackCall(stackName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a stack
     * Returns stack details.
     * @param stackName  (required)
     * @param fields Filter stack details (optional, default to Stacks/*)
     * @return List&lt;StackResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<StackResponseSwagger> stacksServiceGetStack(String stackName, String fields) throws ApiException {
        ApiResponse<List<StackResponseSwagger>> resp = stacksServiceGetStackWithHttpInfo(stackName, fields);
        return resp.getData();
    }

    /**
     * Get a stack
     * Returns stack details.
     * @param stackName  (required)
     * @param fields Filter stack details (optional, default to Stacks/*)
     * @return ApiResponse&lt;List&lt;StackResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<StackResponseSwagger>> stacksServiceGetStackWithHttpInfo(String stackName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackValidateBeforeCall(stackName, fields, null, null);
        Type localVarReturnType = new TypeToken<List<StackResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a stack (asynchronously)
     * Returns stack details.
     * @param stackName  (required)
     * @param fields Filter stack details (optional, default to Stacks/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackAsync(String stackName, String fields, final ApiCallback<List<StackResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetStackValidateBeforeCall(stackName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<StackResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStackArtifact
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param artifactName  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackArtifactCall(String stackName, String stackVersion, String artifactName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/artifacts/{artifactName}"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "artifactName" + "\\}", apiClient.escapeString(artifactName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackArtifactValidateBeforeCall(String stackName, String stackVersion, String artifactName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStackArtifact(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetStackArtifact(Async)");
        }
        
        // verify the required parameter 'artifactName' is set
        if (artifactName == null) {
            throw new ApiException("Missing the required parameter 'artifactName' when calling stacksServiceGetStackArtifact(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactCall(stackName, stackVersion, artifactName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get stack artifact details
     * Returns the details of a stack artifact
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param artifactName  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/*)
     * @return StackArtifactResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StackArtifactResponse stacksServiceGetStackArtifact(String stackName, String stackVersion, String artifactName, String fields) throws ApiException {
        ApiResponse<StackArtifactResponse> resp = stacksServiceGetStackArtifactWithHttpInfo(stackName, stackVersion, artifactName, fields);
        return resp.getData();
    }

    /**
     * Get stack artifact details
     * Returns the details of a stack artifact
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param artifactName  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/*)
     * @return ApiResponse&lt;StackArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StackArtifactResponse> stacksServiceGetStackArtifactWithHttpInfo(String stackName, String stackVersion, String artifactName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactValidateBeforeCall(stackName, stackVersion, artifactName, fields, null, null);
        Type localVarReturnType = new TypeToken<StackArtifactResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get stack artifact details (asynchronously)
     * Returns the details of a stack artifact
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param artifactName  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackArtifactAsync(String stackName, String stackVersion, String artifactName, String fields, final ApiCallback<StackArtifactResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactValidateBeforeCall(stackName, stackVersion, artifactName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StackArtifactResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStackArtifacts
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/artifact_name,Artifacts/stack_name,Artifacts/stack_version)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackArtifactsCall(String stackName, String stackVersion, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/artifacts"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackArtifactsValidateBeforeCall(String stackName, String stackVersion, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStackArtifacts(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetStackArtifacts(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactsCall(stackName, stackVersion, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all stack artifacts
     * Returns all stack artifacts (e.g: kerberos descriptor, metrics descriptor)
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/artifact_name,Artifacts/stack_name,Artifacts/stack_version)
     * @return List&lt;StackArtifactResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<StackArtifactResponse> stacksServiceGetStackArtifacts(String stackName, String stackVersion, String fields) throws ApiException {
        ApiResponse<List<StackArtifactResponse>> resp = stacksServiceGetStackArtifactsWithHttpInfo(stackName, stackVersion, fields);
        return resp.getData();
    }

    /**
     * Get all stack artifacts
     * Returns all stack artifacts (e.g: kerberos descriptor, metrics descriptor)
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/artifact_name,Artifacts/stack_name,Artifacts/stack_version)
     * @return ApiResponse&lt;List&lt;StackArtifactResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<StackArtifactResponse>> stacksServiceGetStackArtifactsWithHttpInfo(String stackName, String stackVersion, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactsValidateBeforeCall(stackName, stackVersion, fields, null, null);
        Type localVarReturnType = new TypeToken<List<StackArtifactResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all stack artifacts (asynchronously)
     * Returns all stack artifacts (e.g: kerberos descriptor, metrics descriptor)
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param fields Filter returned attributes (optional, default to Artifacts/artifact_name,Artifacts/stack_name,Artifacts/stack_version)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackArtifactsAsync(String stackName, String stackVersion, String fields, final ApiCallback<List<StackArtifactResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetStackArtifactsValidateBeforeCall(stackName, stackVersion, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<StackArtifactResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStackConfiguration
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackConfigurationCall(String stackName, String stackVersion, String serviceName, String propertyName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/configurations/{propertyName}"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "propertyName" + "\\}", apiClient.escapeString(propertyName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackConfigurationValidateBeforeCall(String stackName, String stackVersion, String serviceName, String propertyName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStackConfiguration(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetStackConfiguration(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetStackConfiguration(Async)");
        }
        
        // verify the required parameter 'propertyName' is set
        if (propertyName == null) {
            throw new ApiException("Missing the required parameter 'propertyName' when calling stacksServiceGetStackConfiguration(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationCall(stackName, stackVersion, serviceName, propertyName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get stack service configuration details
     * Returns the details of a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/*)
     * @return StackConfigurationResponseSwagger
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StackConfigurationResponseSwagger stacksServiceGetStackConfiguration(String stackName, String stackVersion, String serviceName, String propertyName, String fields) throws ApiException {
        ApiResponse<StackConfigurationResponseSwagger> resp = stacksServiceGetStackConfigurationWithHttpInfo(stackName, stackVersion, serviceName, propertyName, fields);
        return resp.getData();
    }

    /**
     * Get stack service configuration details
     * Returns the details of a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/*)
     * @return ApiResponse&lt;StackConfigurationResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StackConfigurationResponseSwagger> stacksServiceGetStackConfigurationWithHttpInfo(String stackName, String stackVersion, String serviceName, String propertyName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationValidateBeforeCall(stackName, stackVersion, serviceName, propertyName, fields, null, null);
        Type localVarReturnType = new TypeToken<StackConfigurationResponseSwagger>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get stack service configuration details (asynchronously)
     * Returns the details of a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackConfigurationAsync(String stackName, String stackVersion, String serviceName, String propertyName, String fields, final ApiCallback<StackConfigurationResponseSwagger> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationValidateBeforeCall(stackName, stackVersion, serviceName, propertyName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StackConfigurationResponseSwagger>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStackConfigurationDependencies
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurationDependency/stack_name,StackConfigurationDependency/stack_version,StackConfigurationDependency/service_name,StackConfigurationDependency/property_name,StackConfigurationDependency/dependency_name)
     * @param sortBy Sort configuration dependencies (asc | desc) (optional, default to StackConfigurationDependency/stack_name.asc,StackConfigurationDependency/stack_version.asc,StackConfigurationDependency/service_name.asc,StackConfigurationDependency/property_name.asc,StackConfigurationDependency/dependency_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackConfigurationDependenciesCall(String stackName, String stackVersion, String serviceName, String propertyName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/configurations/{propertyName}/dependencies"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()))
            .replaceAll("\\{" + "propertyName" + "\\}", apiClient.escapeString(propertyName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackConfigurationDependenciesValidateBeforeCall(String stackName, String stackVersion, String serviceName, String propertyName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStackConfigurationDependencies(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetStackConfigurationDependencies(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetStackConfigurationDependencies(Async)");
        }
        
        // verify the required parameter 'propertyName' is set
        if (propertyName == null) {
            throw new ApiException("Missing the required parameter 'propertyName' when calling stacksServiceGetStackConfigurationDependencies(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationDependenciesCall(stackName, stackVersion, serviceName, propertyName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all dependencies for a stack service configuration
     * Returns all dependencies for a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurationDependency/stack_name,StackConfigurationDependency/stack_version,StackConfigurationDependency/service_name,StackConfigurationDependency/property_name,StackConfigurationDependency/dependency_name)
     * @param sortBy Sort configuration dependencies (asc | desc) (optional, default to StackConfigurationDependency/stack_name.asc,StackConfigurationDependency/stack_version.asc,StackConfigurationDependency/service_name.asc,StackConfigurationDependency/property_name.asc,StackConfigurationDependency/dependency_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;StackConfigurationDependencyResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<StackConfigurationDependencyResponseSwagger> stacksServiceGetStackConfigurationDependencies(String stackName, String stackVersion, String serviceName, String propertyName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<StackConfigurationDependencyResponseSwagger>> resp = stacksServiceGetStackConfigurationDependenciesWithHttpInfo(stackName, stackVersion, serviceName, propertyName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all dependencies for a stack service configuration
     * Returns all dependencies for a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurationDependency/stack_name,StackConfigurationDependency/stack_version,StackConfigurationDependency/service_name,StackConfigurationDependency/property_name,StackConfigurationDependency/dependency_name)
     * @param sortBy Sort configuration dependencies (asc | desc) (optional, default to StackConfigurationDependency/stack_name.asc,StackConfigurationDependency/stack_version.asc,StackConfigurationDependency/service_name.asc,StackConfigurationDependency/property_name.asc,StackConfigurationDependency/dependency_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;StackConfigurationDependencyResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<StackConfigurationDependencyResponseSwagger>> stacksServiceGetStackConfigurationDependenciesWithHttpInfo(String stackName, String stackVersion, String serviceName, String propertyName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationDependenciesValidateBeforeCall(stackName, stackVersion, serviceName, propertyName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<StackConfigurationDependencyResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all dependencies for a stack service configuration (asynchronously)
     * Returns all dependencies for a stack service configuration.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param propertyName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurationDependency/stack_name,StackConfigurationDependency/stack_version,StackConfigurationDependency/service_name,StackConfigurationDependency/property_name,StackConfigurationDependency/dependency_name)
     * @param sortBy Sort configuration dependencies (asc | desc) (optional, default to StackConfigurationDependency/stack_name.asc,StackConfigurationDependency/stack_version.asc,StackConfigurationDependency/service_name.asc,StackConfigurationDependency/property_name.asc,StackConfigurationDependency/dependency_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackConfigurationDependenciesAsync(String stackName, String stackVersion, String serviceName, String propertyName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<StackConfigurationDependencyResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationDependenciesValidateBeforeCall(stackName, stackVersion, serviceName, propertyName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<StackConfigurationDependencyResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for stacksServiceGetStackConfigurations
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/property_name,StackConfigurations/service_name,StackConfigurations/stack_nameStackConfigurations/stack_version)
     * @param sortBy Sort service configurations (asc | desc) (optional, default to StackConfigurations/property_name.asc,StackConfigurations/service_name.asc,StackConfigurations/stack_name.ascStackConfigurations/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call stacksServiceGetStackConfigurationsCall(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/stacks/{stackName}/versions/{stackVersion}/services/{serviceName}/configurations"
            .replaceAll("\\{" + "stackName" + "\\}", apiClient.escapeString(stackName.toString()))
            .replaceAll("\\{" + "stackVersion" + "\\}", apiClient.escapeString(stackVersion.toString()))
            .replaceAll("\\{" + "serviceName" + "\\}", apiClient.escapeString(serviceName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call stacksServiceGetStackConfigurationsValidateBeforeCall(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'stackName' is set
        if (stackName == null) {
            throw new ApiException("Missing the required parameter 'stackName' when calling stacksServiceGetStackConfigurations(Async)");
        }
        
        // verify the required parameter 'stackVersion' is set
        if (stackVersion == null) {
            throw new ApiException("Missing the required parameter 'stackVersion' when calling stacksServiceGetStackConfigurations(Async)");
        }
        
        // verify the required parameter 'serviceName' is set
        if (serviceName == null) {
            throw new ApiException("Missing the required parameter 'serviceName' when calling stacksServiceGetStackConfigurations(Async)");
        }
        

        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationsCall(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all configurations for a stack service
     * Returns all configurations for a stack service.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/property_name,StackConfigurations/service_name,StackConfigurations/stack_nameStackConfigurations/stack_version)
     * @param sortBy Sort service configurations (asc | desc) (optional, default to StackConfigurations/property_name.asc,StackConfigurations/service_name.asc,StackConfigurations/stack_name.ascStackConfigurations/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;StackConfigurationResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<StackConfigurationResponseSwagger> stacksServiceGetStackConfigurations(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<StackConfigurationResponseSwagger>> resp = stacksServiceGetStackConfigurationsWithHttpInfo(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all configurations for a stack service
     * Returns all configurations for a stack service.
     * @param stackName  (required)
     * @param stackVersion  (required)
     * @param serviceName  (required)
     * @param fields Filter returned attributes (optional, default to StackConfigurations/property_name,StackConfigurations/service_name,StackConfigurations/stack_nameStackConfigurations/stack_version)
     * @param sortBy Sort service configurations (asc | desc) (optional, default to StackConfigurations/property_name.asc,StackConfigurations/service_name.asc,StackConfigurations/stack_name.ascStackConfigurations/stack_version.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;StackConfigurationResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<StackConfigurationResponseSwagger>> stacksServiceGetStackConfigurationsWithHttpInfo(String stackName, String stackVersion, String serviceName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = stacksServiceGetStackConfigurationsValidateBeforeCall(stackName, stackVersion, serviceName, fields, sortBy, pageSize, from, to, null, null);
[...]
