/*
 * Swagger spec for Ambari REST API
 * Ambari REST APIs has inherent support for querying, sorting and pagination
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package sunbox.sdp.ambari.client.api;

import sunbox.sdp.ambari.client.ApiCallback;
import sunbox.sdp.ambari.client.ApiClient;
import sunbox.sdp.ambari.client.ApiException;
import sunbox.sdp.ambari.client.ApiResponse;
import sunbox.sdp.ambari.client.Configuration;
import sunbox.sdp.ambari.client.Pair;
import sunbox.sdp.ambari.client.ProgressRequestBody;
import sunbox.sdp.ambari.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import sunbox.sdp.ambari.client.model.ActiveWidgetLayoutRequest;
import sunbox.sdp.ambari.client.model.ActiveWidgetLayoutResponse;
import sunbox.sdp.ambari.client.model.UserAuthorizationResponse;
import sunbox.sdp.ambari.client.model.UserPrivilegeResponse;
import sunbox.sdp.ambari.client.model.UserRequestCreateUserSwagger;
import sunbox.sdp.ambari.client.model.UserRequestCreateUsersSwagger;
import sunbox.sdp.ambari.client.model.UserRequestUpdateUserSwagger;
import sunbox.sdp.ambari.client.model.UserResponseSwagger;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class UsersApi {
    private ApiClient apiClient;

    public UsersApi() {
        this(Configuration.getDefaultApiClient());
    }

    public UsersApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for activeWidgetLayoutServiceGetServices
     * @param userName user name (required)
     * @param fields Filter user layout details (optional, default to WidgetLayoutInfo/*)
     * @param sortBy Sort layouts (asc | desc) (optional, default to WidgetLayoutInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call activeWidgetLayoutServiceGetServicesCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}/activeWidgetLayouts"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call activeWidgetLayoutServiceGetServicesValidateBeforeCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling activeWidgetLayoutServiceGetServices(Async)");
        }
        

        com.squareup.okhttp.Call call = activeWidgetLayoutServiceGetServicesCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get user widget layouts
     * Returns all active widget layouts for user.
     * @param userName user name (required)
     * @param fields Filter user layout details (optional, default to WidgetLayoutInfo/*)
     * @param sortBy Sort layouts (asc | desc) (optional, default to WidgetLayoutInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;ActiveWidgetLayoutResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ActiveWidgetLayoutResponse> activeWidgetLayoutServiceGetServices(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<ActiveWidgetLayoutResponse>> resp = activeWidgetLayoutServiceGetServicesWithHttpInfo(userName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get user widget layouts
     * Returns all active widget layouts for user.
     * @param userName user name (required)
     * @param fields Filter user layout details (optional, default to WidgetLayoutInfo/*)
     * @param sortBy Sort layouts (asc | desc) (optional, default to WidgetLayoutInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;ActiveWidgetLayoutResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ActiveWidgetLayoutResponse>> activeWidgetLayoutServiceGetServicesWithHttpInfo(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = activeWidgetLayoutServiceGetServicesValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ActiveWidgetLayoutResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get user widget layouts (asynchronously)
     * Returns all active widget layouts for user.
     * @param userName user name (required)
     * @param fields Filter user layout details (optional, default to WidgetLayoutInfo/*)
     * @param sortBy Sort layouts (asc | desc) (optional, default to WidgetLayoutInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call activeWidgetLayoutServiceGetServicesAsync(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<ActiveWidgetLayoutResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = activeWidgetLayoutServiceGetServicesValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ActiveWidgetLayoutResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for activeWidgetLayoutServiceUpdateServices
     * @param userName user name (required)
     * @param body input parameters in json form (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call activeWidgetLayoutServiceUpdateServicesCall(String userName, ActiveWidgetLayoutRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/users/{userName}/activeWidgetLayouts"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call activeWidgetLayoutServiceUpdateServicesValidateBeforeCall(String userName, ActiveWidgetLayoutRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling activeWidgetLayoutServiceUpdateServices(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling activeWidgetLayoutServiceUpdateServices(Async)");
        }
        

        com.squareup.okhttp.Call call = activeWidgetLayoutServiceUpdateServicesCall(userName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update user widget layouts
     * Updates user widget layout.
     * @param userName user name (required)
     * @param body input parameters in json form (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void activeWidgetLayoutServiceUpdateServices(String userName, ActiveWidgetLayoutRequest body) throws ApiException {
        activeWidgetLayoutServiceUpdateServicesWithHttpInfo(userName, body);
    }

    /**
     * Update user widget layouts
     * Updates user widget layout.
     * @param userName user name (required)
     * @param body input parameters in json form (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> activeWidgetLayoutServiceUpdateServicesWithHttpInfo(String userName, ActiveWidgetLayoutRequest body) throws ApiException {
        com.squareup.okhttp.Call call = activeWidgetLayoutServiceUpdateServicesValidateBeforeCall(userName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Update user widget layouts (asynchronously)
     * Updates user widget layout.
     * @param userName user name (required)
     * @param body input parameters in json form (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call activeWidgetLayoutServiceUpdateServicesAsync(String userName, ActiveWidgetLayoutRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = activeWidgetLayoutServiceUpdateServicesValidateBeforeCall(userName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createUser
     * @param userName user name (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createUserCall(String userName, UserRequestCreateUserSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/users/{userName}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createUserValidateBeforeCall(String userName, UserRequestCreateUserSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling createUser(Async)");
        }
        

        com.squareup.okhttp.Call call = createUserCall(userName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create new user
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createUser(String userName, UserRequestCreateUserSwagger body) throws ApiException {
        createUserWithHttpInfo(userName, body);
    }

    /**
     * Create new user
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createUserWithHttpInfo(String userName, UserRequestCreateUserSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = createUserValidateBeforeCall(userName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create new user (asynchronously)
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createUserAsync(String userName, UserRequestCreateUserSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createUserValidateBeforeCall(userName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createUsers
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createUsersCall(UserRequestCreateUsersSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/users";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createUsersValidateBeforeCall(UserRequestCreateUsersSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = createUsersCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates one or more users in a single request
     * 
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createUsers(UserRequestCreateUsersSwagger body) throws ApiException {
        createUsersWithHttpInfo(body);
    }

    /**
     * Creates one or more users in a single request
     * 
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createUsersWithHttpInfo(UserRequestCreateUsersSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = createUsersValidateBeforeCall(body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates one or more users in a single request (asynchronously)
     * 
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createUsersAsync(UserRequestCreateUsersSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createUsersValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteUser
     * @param userName user name (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteUserCall(String userName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteUserValidateBeforeCall(String userName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling deleteUser(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteUserCall(userName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete single user
     * 
     * @param userName user name (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteUser(String userName) throws ApiException {
        deleteUserWithHttpInfo(userName);
    }

    /**
     * Delete single user
     * 
     * @param userName user name (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteUserWithHttpInfo(String userName) throws ApiException {
        com.squareup.okhttp.Call call = deleteUserValidateBeforeCall(userName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete single user (asynchronously)
     * 
     * @param userName user name (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteUserAsync(String userName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteUserValidateBeforeCall(userName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getUser
     * @param userName user name (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getUserCall(String userName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getUserValidateBeforeCall(String userName, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling getUser(Async)");
        }
        

        com.squareup.okhttp.Call call = getUserCall(userName, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get single user
     * 
     * @param userName user name (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/*)
     * @return UserResponseSwagger
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UserResponseSwagger getUser(String userName, String fields) throws ApiException {
        ApiResponse<UserResponseSwagger> resp = getUserWithHttpInfo(userName, fields);
        return resp.getData();
    }

    /**
     * Get single user
     * 
     * @param userName user name (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/*)
     * @return ApiResponse&lt;UserResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UserResponseSwagger> getUserWithHttpInfo(String userName, String fields) throws ApiException {
        com.squareup.okhttp.Call call = getUserValidateBeforeCall(userName, fields, null, null);
        Type localVarReturnType = new TypeToken<UserResponseSwagger>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get single user (asynchronously)
     * 
     * @param userName user name (required)
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getUserAsync(String userName, String fields, final ApiCallback<UserResponseSwagger> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getUserValidateBeforeCall(userName, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UserResponseSwagger>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getUsers
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/user_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Users/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getUsersCall(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getUsersValidateBeforeCall(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getUsersCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all users
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/user_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Users/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return List&lt;UserResponseSwagger&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<UserResponseSwagger> getUsers(String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        ApiResponse<List<UserResponseSwagger>> resp = getUsersWithHttpInfo(fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all users
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/user_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Users/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @return ApiResponse&lt;List&lt;UserResponseSwagger&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<UserResponseSwagger>> getUsersWithHttpInfo(String fields, String sortBy, Integer pageSize, Integer from, Integer to) throws ApiException {
        com.squareup.okhttp.Call call = getUsersValidateBeforeCall(fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<UserResponseSwagger>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all users (asynchronously)
     * 
     * @param fields Filter fields in the response (identifier fields are mandatory) (optional, default to Users/user_name)
     * @param sortBy Sort resources in result by (asc | desc) (optional, default to Users/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive).  \&quot;start\&quot; is also accepted. (optional, default to 0)
     * @param to The ending page resource (inclusive).  \&quot;end\&quot; is also accepted. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getUsersAsync(String fields, String sortBy, Integer pageSize, Integer from, Integer to, final ApiCallback<List<UserResponseSwagger>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getUsersValidateBeforeCall(fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<UserResponseSwagger>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateUser
     * @param userName user name (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateUserCall(String userName, UserRequestUpdateUserSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/users/{userName}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateUserValidateBeforeCall(String userName, UserRequestUpdateUserSwagger body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling updateUser(Async)");
        }
        

        com.squareup.okhttp.Call call = updateUserCall(userName, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update user details
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateUser(String userName, UserRequestUpdateUserSwagger body) throws ApiException {
        updateUserWithHttpInfo(userName, body);
    }

    /**
     * Update user details
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateUserWithHttpInfo(String userName, UserRequestUpdateUserSwagger body) throws ApiException {
        com.squareup.okhttp.Call call = updateUserValidateBeforeCall(userName, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Update user details (asynchronously)
     * 
     * @param userName user name (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateUserAsync(String userName, UserRequestUpdateUserSwagger body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateUserValidateBeforeCall(userName, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for userAuthorizationServiceGetAuthorization
     * @param userName user name (required)
     * @param authorizationId Authorization Id (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationCall(String userName, String authorizationId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}/authorizations/{authorization_id}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()))
            .replaceAll("\\{" + "authorization_id" + "\\}", apiClient.escapeString(authorizationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationValidateBeforeCall(String userName, String authorizationId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling userAuthorizationServiceGetAuthorization(Async)");
        }
        
        // verify the required parameter 'authorizationId' is set
        if (authorizationId == null) {
            throw new ApiException("Missing the required parameter 'authorizationId' when calling userAuthorizationServiceGetAuthorization(Async)");
        }
        

        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationCall(userName, authorizationId, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get user authorization
     * Returns user authorization details.
     * @param userName user name (required)
     * @param authorizationId Authorization Id (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @return UserAuthorizationResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UserAuthorizationResponse userAuthorizationServiceGetAuthorization(String userName, String authorizationId, String fields) throws ApiException {
        ApiResponse<UserAuthorizationResponse> resp = userAuthorizationServiceGetAuthorizationWithHttpInfo(userName, authorizationId, fields);
        return resp.getData();
    }

    /**
     * Get user authorization
     * Returns user authorization details.
     * @param userName user name (required)
     * @param authorizationId Authorization Id (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @return ApiResponse&lt;UserAuthorizationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UserAuthorizationResponse> userAuthorizationServiceGetAuthorizationWithHttpInfo(String userName, String authorizationId, String fields) throws ApiException {
        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationValidateBeforeCall(userName, authorizationId, fields, null, null);
        Type localVarReturnType = new TypeToken<UserAuthorizationResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get user authorization (asynchronously)
     * Returns user authorization details.
     * @param userName user name (required)
     * @param authorizationId Authorization Id (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationAsync(String userName, String authorizationId, String fields, final ApiCallback<UserAuthorizationResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationValidateBeforeCall(userName, authorizationId, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UserAuthorizationResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for userAuthorizationServiceGetAuthorizations
     * @param userName user name (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param sortBy Sort user authorizations (asc | desc) (optional, default to AuthorizationInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationsCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}/authorizations"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationsValidateBeforeCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling userAuthorizationServiceGetAuthorizations(Async)");
        }
        

        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationsCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all authorizations
     * Returns all authorization for user.
     * @param userName user name (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param sortBy Sort user authorizations (asc | desc) (optional, default to AuthorizationInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;UserAuthorizationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<UserAuthorizationResponse> userAuthorizationServiceGetAuthorizations(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<UserAuthorizationResponse>> resp = userAuthorizationServiceGetAuthorizationsWithHttpInfo(userName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all authorizations
     * Returns all authorization for user.
     * @param userName user name (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param sortBy Sort user authorizations (asc | desc) (optional, default to AuthorizationInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;UserAuthorizationResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<UserAuthorizationResponse>> userAuthorizationServiceGetAuthorizationsWithHttpInfo(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationsValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<UserAuthorizationResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all authorizations (asynchronously)
     * Returns all authorization for user.
     * @param userName user name (required)
     * @param fields Filter user authorization details (optional, default to AuthorizationInfo/*)
     * @param sortBy Sort user authorizations (asc | desc) (optional, default to AuthorizationInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call userAuthorizationServiceGetAuthorizationsAsync(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<UserAuthorizationResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = userAuthorizationServiceGetAuthorizationsValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<UserAuthorizationResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for userPrivilegeServiceGetPrivilege
     * @param userName user name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter user privilege details (optional, default to PrivilegeInfo/*)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegeCall(String userName, String privilegeId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}/privileges/{privilegeId}"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()))
            .replaceAll("\\{" + "privilegeId" + "\\}", apiClient.escapeString(privilegeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegeValidateBeforeCall(String userName, String privilegeId, String fields, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling userPrivilegeServiceGetPrivilege(Async)");
        }
        
        // verify the required parameter 'privilegeId' is set
        if (privilegeId == null) {
            throw new ApiException("Missing the required parameter 'privilegeId' when calling userPrivilegeServiceGetPrivilege(Async)");
        }
        

        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegeCall(userName, privilegeId, fields, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get user privilege
     * Returns user privilege details.
     * @param userName user name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter user privilege details (optional, default to PrivilegeInfo/*)
     * @return UserPrivilegeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UserPrivilegeResponse userPrivilegeServiceGetPrivilege(String userName, String privilegeId, String fields) throws ApiException {
        ApiResponse<UserPrivilegeResponse> resp = userPrivilegeServiceGetPrivilegeWithHttpInfo(userName, privilegeId, fields);
        return resp.getData();
    }

    /**
     * Get user privilege
     * Returns user privilege details.
     * @param userName user name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter user privilege details (optional, default to PrivilegeInfo/*)
     * @return ApiResponse&lt;UserPrivilegeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UserPrivilegeResponse> userPrivilegeServiceGetPrivilegeWithHttpInfo(String userName, String privilegeId, String fields) throws ApiException {
        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegeValidateBeforeCall(userName, privilegeId, fields, null, null);
        Type localVarReturnType = new TypeToken<UserPrivilegeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get user privilege (asynchronously)
     * Returns user privilege details.
     * @param userName user name (required)
     * @param privilegeId privilege id (required)
     * @param fields Filter user privilege details (optional, default to PrivilegeInfo/*)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegeAsync(String userName, String privilegeId, String fields, final ApiCallback<UserPrivilegeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegeValidateBeforeCall(userName, privilegeId, fields, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UserPrivilegeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for userPrivilegeServiceGetPrivileges
     * @param userName user name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegesCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/users/{userName}/privileges"
            .replaceAll("\\{" + "userName" + "\\}", apiClient.escapeString(userName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegesValidateBeforeCall(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'userName' is set
        if (userName == null) {
            throw new ApiException("Missing the required parameter 'userName' when calling userPrivilegeServiceGetPrivileges(Async)");
        }
        

        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegesCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all privileges
     * Returns all privileges for user.
     * @param userName user name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return List&lt;UserPrivilegeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<UserPrivilegeResponse> userPrivilegeServiceGetPrivileges(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        ApiResponse<List<UserPrivilegeResponse>> resp = userPrivilegeServiceGetPrivilegesWithHttpInfo(userName, fields, sortBy, pageSize, from, to);
        return resp.getData();
    }

    /**
     * Get all privileges
     * Returns all privileges for user.
     * @param userName user name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @return ApiResponse&lt;List&lt;UserPrivilegeResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<UserPrivilegeResponse>> userPrivilegeServiceGetPrivilegesWithHttpInfo(String userName, String fields, String sortBy, Integer pageSize, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegesValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<UserPrivilegeResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all privileges (asynchronously)
     * Returns all privileges for user.
     * @param userName user name (required)
     * @param fields Filter user privileges (optional, default to PrivilegeInfo/*)
     * @param sortBy Sort user privileges (asc | desc) (optional, default to PrivilegeInfo/user_name.asc)
     * @param pageSize The number of resources to be returned for the paged response. (optional, default to 10)
     * @param from The starting page resource (inclusive). Valid values are :offset | \&quot;start\&quot; (optional, default to 0)
     * @param to The ending page resource (inclusive). Valid values are :offset | \&quot;end\&quot; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call userPrivilegeServiceGetPrivilegesAsync(String userName, String fields, String sortBy, Integer pageSize, String from, String to, final ApiCallback<List<UserPrivilegeResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = userPrivilegeServiceGetPrivilegesValidateBeforeCall(userName, fields, sortBy, pageSize, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<UserPrivilegeResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
