<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.dao.mapper.AmbariConfigItemDMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.ambari.AmbariConfigItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stack_code" jdbcType="VARCHAR" property="stackCode" />
    <result column="service_code" jdbcType="VARCHAR" property="serviceCode" />
    <result column="component_code" jdbcType="VARCHAR" property="componentCode" />
    <result column="config_type_code" jdbcType="VARCHAR" property="configTypeCode" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="is_content_prop" jdbcType="TINYINT" property="isContentProp" />
    <result column="is_dynamic" jdbcType="TINYINT" property="isDynamic" />
    <result column="dynamic_type" jdbcType="VARCHAR" property="dynamicType" />
    <result column="item_type" jdbcType="VARCHAR" property="itemType" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stack_code, service_code, component_code, config_type_code, `key`, `value`, is_content_prop, 
    is_dynamic, dynamic_type, item_type, `state`, created_by, created_time, updated_by, 
    updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ambari_config_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectComponentList" resultType="java.lang.String">
    select
      distinct(service_code)
    from ambari_config_item
  </select>
  <select id="selectProfilesList" resultType="java.lang.String">
    select
      distinct(config_type_code)
    from ambari_config_item
  </select>


  <select id="selectByPage" resultType="com.sunbox.domain.ambari.AmbariConfigItem">
    select
    <include refid="Base_Column_List" />
    from ambari_config_item
    <where>
      1=1
      <if test="serviceCode!=null and serviceCode !='' ">
        and service_code = #{serviceCode,jdbcType=VARCHAR}
      </if>
      <if test="itemType!=null and itemType !='' ">
        and item_type=#{itemType,jdbcType=VARCHAR}
      </if>
      <if test="configTypeCode!=null and configTypeCode !='' ">
        and config_type_code=#{configTypeCode,jdbcType=VARCHAR}
      </if>
      <if test="stackCode!=null and stackCode !='' ">
        and stack_code=#{stackCode,jdbcType=VARCHAR}
      </if>
      <if test="key!=null and key !='' ">
        and `key` LIKE CONCAT('%',#{key},'%')
      </if>
      ORDER BY created_time DESC
      LIMIT #{pageIndex}, #{pageSize}
    </where>
  </select>
  <select id="selectTotalByPage" resultType="java.lang.Integer">
    select
    count(1)
    from ambari_config_item
    <where>
      1=1
      <if test="serviceCode!=null and serviceCode !='' ">
        and service_code = #{serviceCode,jdbcType=VARCHAR}
      </if>
      <if test="itemType!=null and itemType !='' ">
        and item_type=#{itemType,jdbcType=VARCHAR}
      </if>
      <if test="configTypeCode!=null and configTypeCode !='' ">
        and config_type_code=#{configTypeCode,jdbcType=VARCHAR}
      </if>
      <if test="stackCode!=null and stackCode !='' ">
        and stack_code=#{stackCode,jdbcType=VARCHAR}
      </if>
      <if test="key!=null and key !='' ">
        and `key` LIKE CONCAT('%',#{key},'%')
      </if>

    </where>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ambari_config_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sunbox.domain.ambari.AmbariConfigItem" useGeneratedKeys="true">
    insert into ambari_config_item (stack_code, service_code, component_code, 
      config_type_code, `key`, `value`, 
      is_content_prop, is_dynamic, dynamic_type, 
      item_type, `state`, created_by, 
      created_time, updated_by, updated_time
      )
    values (#{stackCode,jdbcType=VARCHAR}, #{serviceCode,jdbcType=VARCHAR}, #{componentCode,jdbcType=VARCHAR}, 
      #{configTypeCode,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{isContentProp,jdbcType=TINYINT}, #{isDynamic,jdbcType=TINYINT}, #{dynamicType,jdbcType=VARCHAR}, 
      #{itemType,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sunbox.domain.ambari.AmbariConfigItem" useGeneratedKeys="true">
    insert into ambari_config_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stackCode != null">
        stack_code,
      </if>
      <if test="serviceCode != null">
        service_code,
      </if>
      <if test="componentCode != null">
        component_code,
      </if>
      <if test="configTypeCode != null">
        config_type_code,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="isContentProp != null">
        is_content_prop,
      </if>
      <if test="isDynamic != null">
        is_dynamic,
      </if>
      <if test="dynamicType != null">
        dynamic_type,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stackCode != null">
        #{stackCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null">
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="componentCode != null">
        #{componentCode,jdbcType=VARCHAR},
      </if>
      <if test="configTypeCode != null">
        #{configTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="isContentProp != null">
        #{isContentProp,jdbcType=TINYINT},
      </if>
      <if test="isDynamic != null">
        #{isDynamic,jdbcType=TINYINT},
      </if>
      <if test="dynamicType != null">
        #{dynamicType,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into ambari_config_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemList[0].stackCode != null">
        stack_code,
      </if>
      <if test="itemList[0].serviceCode != null">
        service_code,
      </if>
      <if test="itemList[0].componentCode != null">
        component_code,
      </if>
      <if test="itemList[0].configTypeCode != null">
        config_type_code,
      </if>
      <if test="itemList[0].key != null">
        `key`,
      </if>
      <if test="itemList[0].value != null">
        `value`,
      </if>
      <if test="itemList[0].isContentProp != null">
        is_content_prop,
      </if>
      <if test="itemList[0].isDynamic != null">
        is_dynamic,
      </if>
      <if test="itemList[0].dynamicType != null">
        dynamic_type,
      </if>
      <if test="itemList[0].itemType != null">
        item_type,
      </if>
      <if test="itemList[0].state != null">
        `state`,
      </if>
      <if test="itemList[0].createdBy != null">
        created_by,
      </if>
      <if test="itemList[0].createdTime != null">
        created_time,
      </if>
      <if test="itemList[0].updatedBy != null">
        updated_by,
      </if>
      <if test="itemList[0].updatedTime != null">
        updated_time,
      </if>
    </trim>
    values
      <foreach collection="itemList"  item="item" separator=",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.stackCode != null">
          #{item.stackCode,jdbcType=VARCHAR},
        </if>
        <if test="item.serviceCode != null">
          #{item.serviceCode,jdbcType=VARCHAR},
        </if>
        <if test="item.componentCode != null">
          #{item.componentCode,jdbcType=VARCHAR},
        </if>
        <if test="item.configTypeCode != null">
          #{item.configTypeCode,jdbcType=VARCHAR},
        </if>
        <if test="item.key != null">
          #{item.key,jdbcType=VARCHAR},
        </if>
        <if test="item.value != null">
          #{item.value,jdbcType=VARCHAR},
        </if>
        <if test="item.isContentProp != null">
          #{item.isContentProp,jdbcType=TINYINT},
        </if>
        <if test="item.isDynamic != null">
          #{item.isDynamic,jdbcType=TINYINT},
        </if>
        <if test="item.dynamicType != null">
          #{item.dynamicType,jdbcType=VARCHAR},
        </if>
        <if test="item.itemType != null">
          #{item.itemType,jdbcType=VARCHAR},
        </if>
        <if test="item.state != null">
          #{item.state,jdbcType=VARCHAR},
        </if>
        <if test="item.createdBy != null">
          #{item.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="item.createdTime != null">
          #{item.createdTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updatedBy != null">
          #{item.updatedBy,jdbcType=VARCHAR},
        </if>
        <if test="item.updatedTime != null">
          #{item.updatedTime,jdbcType=TIMESTAMP},
        </if>
        </trim>
      </foreach>


  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.ambari.AmbariConfigItem">
    update ambari_config_item
    <set>
      <if test="stackCode != null">
        stack_code = #{stackCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceCode != null">
        service_code = #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="componentCode != null">
        component_code = #{componentCode,jdbcType=VARCHAR},
      </if>
      <if test="configTypeCode != null">
        config_type_code = #{configTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="isContentProp != null">
        is_content_prop = #{isContentProp,jdbcType=TINYINT},
      </if>
      <if test="isDynamic != null">
        is_dynamic = #{isDynamic,jdbcType=TINYINT},
      </if>
      <if test="dynamicType != null">
        dynamic_type = #{dynamicType,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.ambari.AmbariConfigItem">
    update ambari_config_item
    set stack_code = #{stackCode,jdbcType=VARCHAR},
      service_code = #{serviceCode,jdbcType=VARCHAR},
      component_code = #{componentCode,jdbcType=VARCHAR},
      config_type_code = #{configTypeCode,jdbcType=VARCHAR},
      `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      is_content_prop = #{isContentProp,jdbcType=TINYINT},
      is_dynamic = #{isDynamic,jdbcType=TINYINT},
      dynamic_type = #{dynamicType,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>