<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.dao.mapper.AutoCreatedEvictVmMapper">

    <resultMap id="BaseResultMap" type="com.sunbox.domain.AutoCreatedEvictVm">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cluster_id" jdbcType="VARCHAR" property="clusterId"/>
        <result column="cluster_name" jdbcType="VARCHAR" property="clusterName"/>
        <result column="vm_role" jdbcType="VARCHAR" property="vmRole"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="vm_name" jdbcType="VARCHAR" property="vmName"/>
        <result column="vmid" jdbcType="VARCHAR" property="vmid"/>
        <result column="purchase_type" jdbcType="VARCHAR" property="purchaseType"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="event_content" jdbcType="VARCHAR" property="eventContent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, cluster_id, cluster_name, vm_role, group_name, vm_name, vmid, purchase_type,
        state, event_content, create_time
    </sql>

    <sql id="BaseColumnsForInsert" >
        cluster_id, cluster_name, vm_role, group_name, vm_name, vmid, purchase_type,
        state, event_content, create_time
    </sql>

    <!--  保存一条事件 -->
    <insert id="insert" parameterType="com.sunbox.domain.AutoCreatedEvictVm">
        insert into auto_created_evict_vms ( <include refid="BaseColumnsForInsert" /> )
        values ( #{clusterId}, #{clusterName}, #{vmRole}, #{groupName}, #{vmName},
                #{vmid}, #{purchaseType}, #{state}, #{eventContent}, #{createTime});
    </insert>

    <!--  按主键查  -->
    <select id="selectByPrimaryKey" resultType="com.sunbox.domain.AutoCreatedEvictVm">
        select <include refid="Base_Column_List" />
        from auto_created_evict_vms
        where id = #{id}
    </select>

    <!--  查询事件列表  -->
    <select id="selectByTimeAndState" resultType="com.sunbox.domain.AutoCreatedEvictVm">
        select <include refid="Base_Column_List" />
        from auto_created_evict_vms
        where create_time >= #{beginTime} and create_time &lt;= #{endTime}
        and state in
        <foreach collection="states" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
    </select>

    <!--  更新事件状态  -->
    <update id="updateState" >
        update auto_created_evict_vms set state=#{state}
        where id = #{id}
    </update>

    <!--  查询事件列表  -->
    <select id="selectByVmId" resultType="com.sunbox.domain.AutoCreatedEvictVm">
        select <include refid="Base_Column_List" />
        from auto_created_evict_vms
        where vmid = #{vmid}
        limit 1
    </select>

</mapper>