<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.dao.mapper.InfoVmStatementResultMapper">
    <resultMap id="BaseResultMap" type="com.sunbox.domain.InfoVmStatementResult">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="statement_id" jdbcType="VARCHAR" property="statementId"/>
        <result column="vm_name" jdbcType="VARCHAR" property="vmName"/>
        <result column="vm_state" jdbcType="VARCHAR" property="vmState"/>
        <result column="nic_id" jdbcType="VARCHAR" property="nicId"/>
        <result column="nic_state" jdbcType="VARCHAR" property="nicState"/>
        <result column="private_ip" jdbcType="VARCHAR" property="privateIp"/>
        <result column="cluster_id" jdbcType="VARCHAR" property="clusterId"/>
        <result column="cluster_name" jdbcType="VARCHAR" property="clusterName"/>
        <result column="vm_role" jdbcType="VARCHAR" property="vmRole"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="host_name" jdbcType="VARCHAR" property="hostName"/>
        <result column="purchase_type" jdbcType="VARCHAR" property="purchaseType"/>
        <result column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="cpu" jdbcType="INTEGER" property="cpu"/>
        <result column="memory" jdbcType="INTEGER" property="memory"/>
        <result column="zone_name" jdbcType="VARCHAR" property="zoneName"/>
        <result column="subnet" jdbcType="VARCHAR" property="subnet"/>
        <result column="physical_zone" jdbcType="VARCHAR" property="physicalZone"/>
        <result column="vm_tags" jdbcType="VARCHAR" property="vmTags"/>
        <result column="vm_created_time" jdbcType="VARCHAR" property="vmCreatedTime"/>
        <result column="created_time" jdbcType="VARCHAR" property="createdTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
        <result column="azure_result" jdbcType="VARCHAR" property="azureResult"/>
        <result column="sdp_result" jdbcType="VARCHAR" property="sdpResult"/>
        <result column="yarn_result" jdbcType="VARCHAR" property="yarnResult"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        statement_id,
        vm_name,
        vm_state,
        nic_id,
        nic_state,
        private_ip,
        cluster_id,
        cluster_name,
        vm_role,
        group_name,
        host_name,
        purchase_type,
        sku,
        cpu,
        memory,
        zone_name,
        subnet,
        physical_zone,
        vm_tags,
        vm_created_time,
        created_time,
        modified_time,
        azure_result,
        sdp_result,
        yarn_result
    </sql>
    <update id="updateByPrimaryKey">
        update info_vm_statement_result
        set
        statement_id = #{statementId},
        vm_name = #{vmName},
        vm_state = #{vmState},
        nic_id = #{nicId},
        nic_state = #{nicState},
        private_ip = #{privateIp},
        cluster_id = #{clusterId},
        cluster_name = #{clusterName},
        vm_role = #{vmRole},
        group_name = #{groupName},
        host_name = #{hostName},
        purchase_type = #{purchaseType},
        sku = #{sku},
        cpu = #{cpu},
        memory = #{memory},
        zone_name = #{zoneName},
        subnet = #{subnet},
        physical_zone = #{physicalZone},
        vm_tags = #{vmTags},
        vm_created_time = #{vmCreatedTime},
        created_time = #{createdTime},
        modified_time = #{modifiedTime},
        azure_result = #{azureResult},
        sdp_result = #{sdpResult},
        yarn_result = #{yarnResult}
        where id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info_vm_statement_result
        where id = #{id}
    </select>
    <select id="selectByStatementId" resultType="com.sunbox.domain.InfoVmStatementResult">
        select
        <include refid="Base_Column_List"/>
        from info_vm_statement_result
        where statement_id = #{statementId}
    </select>
    <select id="selectByStatementIdAndVmNameAndHostName" resultType="com.sunbox.domain.InfoVmStatementResult">
        select
        <include refid="Base_Column_List"/>
        from info_vm_statement_result
        where statement_id = #{statementId}
        and vm_name = #{vmName}
        and host_name = #{hostName}
    </select>

    <select id="countByStatementId" resultType="int">
        select
        count(id)
        from info_vm_statement_result
        where statement_id = #{statementId}
        <if test="clusterId != null">
            and cluster_id = #{clusterId}
        </if>
        <if test="clusterName != null">
            and cluster_name like CONCAT(CONCAT('%', #{clusterName}), '%')
        </if>
        <if test="hostName != null">
            and vm_name like CONCAT(CONCAT('%', #{hostName}), '%')
        </if>
        <if test="diffType == 'SDP_YARN'">
            and sdp_result &lt;&gt; yarn_result
        </if>
        <if test="diffType == 'AZURE_SDP'">
            and azure_result &lt;&gt; sdp_result
        </if>
        <if test="diffType == 'AZURE_YARN'">
            and azure_result  &lt;&gt;  yarn_result
        </if>
        <if test="purchaseType != null ">
            and purchase_type  = #{purchaseType}
        </if>
        <if test="minuteBefore != null ">
            and vm_created_time  &lt; ADDDATE(created_time, INTERVAL -#{minuteBefore} MINUTE)
        </if>
        <if test="vmRoles != null and vmRoles.length > 0">
            and vm_role in
            <foreach collection="vmRoles" item="vmRole" index="index"
                     open="(" close=")" separator=",">
                '${vmRole}'
            </foreach>
        </if>
    </select>

    <select id="queryByStatementId" resultType="com.sunbox.domain.InfoVmStatementResult">
        select
        <include refid="Base_Column_List"/>
        from info_vm_statement_result
        where statement_id = #{statementId}
        <if test="clusterId != null">
            and cluster_id = #{clusterId}
        </if>
        <if test="clusterName != null">
            and cluster_name like CONCAT(CONCAT('%', #{clusterName}), '%')
        </if>
        <if test="hostName != null">
            and vm_name like CONCAT(CONCAT('%', #{hostName}), '%')
        </if>
        <if test="diffType == 'SDP_YARN'">
            and sdp_result &lt;&gt; yarn_result
        </if>
        <if test="diffType == 'AZURE_SDP'">
            and azure_result &lt;&gt; sdp_result
        </if>
        <if test="diffType == 'AZURE_YARN'">
            and azure_result  &lt;&gt;  yarn_result
        </if>
        <if test="purchaseType != null ">
            and purchase_type  = #{purchaseType}
        </if>
        <if test="minuteBefore != null ">
            and vm_created_time  &lt; ADDDATE(created_time, INTERVAL -#{minuteBefore} MINUTE)
        </if>
        <if test="vmRoles != null and vmRoles.length > 0">
            and vm_role in
            <foreach collection="vmRoles" item="vmRole" index="index" open="(" close=")" separator=",">
                '${vmRole}'
            </foreach>
        </if>

        order by created_time desc
        limit #{pageStart},#{pageLimit}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from info_vm_statement_result
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.sunbox.domain.InfoVmStatementResult">
        insert into info_vm_statement_result (
        statement_id,
        vm_name,
        vm_state,
        nic_id,
        nic_state,
        private_ip,
        cluster_id,
        cluster_name,
        vm_role,
        group_name,
        host_name,
        purchase_type,
        sku,
        cpu,
        memory,
        zone_name,
        subnet,
        physical_zone,
        vm_tags,
        vm_created_time,
        created_time,
        modified_time,
        azure_result,
        sdp_result,
        yarn_result
        ) values (
        #{statementId},
        #{vmName},
        #{vmState},
        #{nicId},
        #{nicState},
        #{privateIp},
        #{clusterId},
        #{clusterName},
        #{vmRole},
        #{groupName},
        #{hostName},
        #{purchaseType},
        #{sku},
        #{cpu},
        #{memory},
        #{zoneName},
        #{subnet},
        #{physicalZone},
        #{vmTags},
        #{vmCreatedTime},
        #{createdTime},
        #{modifiedTime},
        #{azureResult},
        #{sdpResult},
        #{yarnResult}
        )
    </insert>
</mapper>