<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.dao.mapper.InfoAmbariConfigGroupMapper">
    <resultMap id="BaseResultMap" type="com.sunbox.domain.InfoAmbariConfigGroup">
        <id column="conf_id" jdbcType="VARCHAR" property="confId"/>
        <result column="cluster_id" jdbcType="VARCHAR" property="clusterId"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="ambari_id" jdbcType="BIGINT" property="ambariId"/>
        <result column="ambari_service_name" jdbcType="VARCHAR" property="ambariServiceName"/>
        <result column="ambari_group_name" jdbcType="VARCHAR" property="ambariGroupName"/>
        <result column="ambari_tag" jdbcType="VARCHAR" property="ambariTag"/>
        <result column="ambari_cluster_name" jdbcType="VARCHAR" property="ambariClusterName"/>
        <result column="ambari_description" jdbcType="VARCHAR" property="ambariDescription"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="sdp_group_name" jdbcType="VARCHAR" property="sdpGroupName"/>
        <result column="vm_sku_id" jdbcType="VARCHAR" property="vmSkuId"/>
    </resultMap>
    <sql id="Base_Column_List">
        conf_id, cluster_id, group_id, ambari_id, ambari_service_name, ambari_group_name,
        ambari_tag, ambari_cluster_name, ambari_description, state, created_time,sdp_group_name,vm_sku_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info_ambari_config_group
        where conf_id = #{confId,jdbcType=VARCHAR}
    </select>
    <select id="selectByGroupIdAndStates" parameterType="java.lang.String"
            resultType="com.sunbox.domain.InfoAmbariConfigGroup">
        select
        <include refid="Base_Column_List"/>
        from info_ambari_config_group
        where group_id = #{groupId,jdbcType=VARCHAR}
        <if test="states!=null and states.size>0">
            and state in
            <foreach collection="states" item="state" index="index" open="(" close=")" separator=",">
                #{state}
            </foreach>
        </if>
    </select>
    <select id="selectByClusterIdAndAmbariGroupNameAndVmSkuId" resultType="com.sunbox.domain.InfoAmbariConfigGroup">
        select
        <include refid="Base_Column_List"/>
        from info_ambari_config_group
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
          and ambari_group_name = #{ambariGroupName,jdbcType=VARCHAR}
          and vm_sku_id = #{vmSkuId,jdbcType=VARCHAR}
    </select>
    <select id="selectByClusterIdAndAmbariGroupNameAndVmSkuIdAndServiceName" resultType="com.sunbox.domain.InfoAmbariConfigGroup">
        select
        <include refid="Base_Column_List"/>
        from info_ambari_config_group
        where cluster_id = #{clusterId,jdbcType=VARCHAR}
        and ambari_group_name = #{ambariGroupName,jdbcType=VARCHAR}
        and vm_sku_id = #{vmSkuId,jdbcType=VARCHAR}
    </select>
    <select id="selectByClusterIdAndAmbariId" resultType="com.sunbox.domain.InfoAmbariConfigGroup">
        select
        <include refid="Base_Column_List"/>
        from info_ambari_config_group
        where cluster_id = #{clusterId,jdbcType=VARCHAR} and ambari_id = #{ambariId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from info_ambari_config_group
        where conf_id = #{confId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByClusterIdAndAmbariId" >
        delete from info_ambari_config_group
        where cluster_id = #{clusterId,jdbcType=VARCHAR} and  ambari_id = #{ambariId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.sunbox.domain.InfoAmbariConfigGroup">
        insert into info_ambari_config_group (conf_id, cluster_id, group_id,
        ambari_id, ambari_service_name, ambari_group_name,
        ambari_tag, ambari_cluster_name, ambari_description,
        state, created_time,sdp_group_name,vm_sku_id)
        values (#{confId,jdbcType=VARCHAR}, #{clusterId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR},
        #{ambariId,jdbcType=BIGINT}, #{ambariServiceName,jdbcType=VARCHAR}, #{ambariGroupName,jdbcType=VARCHAR},
        #{ambariTag,jdbcType=VARCHAR}, #{ambariClusterName,jdbcType=VARCHAR}, #{ambariDescription,jdbcType=VARCHAR},
        #{state,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{sdpGroupName,jdbcType=VARCHAR},
        #{vmSkuId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.sunbox.domain.InfoAmbariConfigGroup">
        insert into info_ambari_config_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="confId != null">
                conf_id,
            </if>
            <if test="clusterId != null">
                cluster_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="ambariId != null">
                ambari_id,
            </if>
            <if test="ambariServiceName != null">
                ambari_service_name,
            </if>
            <if test="ambariGroupName != null">
                ambari_group_name,
            </if>
            <if test="ambariTag != null">
                ambari_tag,
            </if>
            <if test="ambariClusterName != null">
                ambari_cluster_name,
            </if>
            <if test="ambariDescription != null">
                ambari_description,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="sdpGroupName != null">
                sdp_group_name,
            </if>
            <if test="vmSkuId != null">
                vm_sku_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="confId != null">
                #{confId,jdbcType=VARCHAR},
            </if>
            <if test="clusterId != null">
                #{clusterId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="ambariId != null">
                #{ambariId,jdbcType=BIGINT},
            </if>
            <if test="ambariServiceName != null">
                #{ambariServiceName,jdbcType=VARCHAR},
            </if>
            <if test="ambariGroupName != null">
                #{ambariGroupName,jdbcType=VARCHAR},
            </if>
            <if test="ambariTag != null">
                #{ambariTag,jdbcType=VARCHAR},
            </if>
            <if test="ambariClusterName != null">
                #{ambariClusterName,jdbcType=VARCHAR},
            </if>
            <if test="ambariDescription != null">
                #{ambariDescription,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sdpGroupName != null">
                #{sdpGroupName,jdbcType=VARCHAR},
            </if>
            <if test="vmSkuId != null">
                #{vmSkuId,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.InfoAmbariConfigGroup">
        update info_ambari_config_group
        <set>
            <if test="clusterId != null">
                cluster_id = #{clusterId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="ambariId != null">
                ambari_id = #{ambariId,jdbcType=BIGINT},
            </if>
            <if test="ambariServiceName != null">
                ambari_service_name = #{ambariServiceName,jdbcType=VARCHAR},
            </if>
            <if test="ambariGroupName != null">
                ambari_group_name = #{ambariGroupName,jdbcType=VARCHAR},
            </if>
            <if test="sdpGroupName != null">
                sdp_group_name = #{sdpGroupName,jdbcType=VARCHAR},
            </if>
            <if test="ambariTag != null">
                ambari_tag = #{ambariTag,jdbcType=VARCHAR},
            </if>
            <if test="ambariClusterName != null">
                ambari_cluster_name = #{ambariClusterName,jdbcType=VARCHAR},
            </if>
            <if test="ambariDescription != null">
                ambari_description = #{ambariDescription,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="vmSkuId != null">
                vm_sku_id = #{vmSkuId,jdbcType=VARCHAR}
            </if>
        </set>
        where conf_id = #{confId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.InfoAmbariConfigGroup">
        update info_ambari_config_group
        set cluster_id = #{clusterId,jdbcType=VARCHAR},
        group_id = #{groupId,jdbcType=VARCHAR},
        ambari_id = #{ambariId,jdbcType=BIGINT},
        ambari_service_name = #{ambariServiceName,jdbcType=VARCHAR},
        ambari_group_name = #{ambariGroupName,jdbcType=VARCHAR},
        sdp_group_name = #{sdpGroupName,jdbcType=VARCHAR},
        ambari_tag = #{ambariTag,jdbcType=VARCHAR},
        ambari_cluster_name = #{ambariClusterName,jdbcType=VARCHAR},
        ambari_description = #{ambariDescription,jdbcType=VARCHAR},
        state = #{state,jdbcType=INTEGER},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        vm_sku_id = #{vmSkuId,jdbcType=VARCHAR},
        where conf_id = #{confId,jdbcType=VARCHAR}
    </update>
    <update id="updateStateByGroupId">
        update info_ambari_config_group
        set state = #{state,jdbcType=INTEGER}
        where group_id = #{groupId,jdbcType=VARCHAR}
    </update>

    <update id="updateByGroupIdSelective" parameterType="com.sunbox.domain.InfoAmbariConfigGroup">
        update info_ambari_config_group
        <set>
            <if test="ambariId != null">
                ambari_id = #{ambariId,jdbcType=BIGINT},
            </if>
            <if test="ambariServiceName != null">
                ambari_service_name = #{ambariServiceName,jdbcType=VARCHAR},
            </if>
            <if test="ambariGroupName != null">
                ambari_group_name = #{ambariGroupName,jdbcType=VARCHAR},
            </if>
            <if test="sdpGroupName != null">
                sdp_group_name = #{sdpGroupName,jdbcType=VARCHAR},
            </if>
            <if test="ambariTag != null">
                ambari_tag = #{ambariTag,jdbcType=VARCHAR},
            </if>
            <if test="ambariClusterName != null">
                ambari_cluster_name = #{ambariClusterName,jdbcType=VARCHAR},
            </if>
            <if test="ambariDescription != null">
                ambari_description = #{ambariDescription,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="vmSkuId != null">
                vm_sku_id = #{vmSkuId,jdbcType=VARCHAR}
            </if>
        </set>
        where conf_id = #{confId,jdbcType=VARCHAR}
    </update>
</mapper>