<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpadmin.mapper.ConfClusterTagMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.ConfClusterTag">
    <!--@mbg.generated-->
    <!--@Table conf_cluster_tag-->
    <id column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <id column="tag_group" jdbcType="VARCHAR" property="tagGroup" />
    <result column="tag_val" jdbcType="VARCHAR" property="tagVal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cluster_id, tag_group, tag_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from conf_cluster_tag
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from conf_cluster_tag
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sunbox.domain.ConfClusterTag">
    <!--@mbg.generated-->
    insert into conf_cluster_tag (cluster_id, tag_group, tag_val
      )
    values (#{clusterId,jdbcType=VARCHAR}, #{tagGroup,jdbcType=VARCHAR}, #{tagVal,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunbox.domain.ConfClusterTag">
    <!--@mbg.generated-->
    insert into conf_cluster_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="tagGroup != null">
        tag_group,
      </if>
      <if test="tagVal != null">
        tag_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="tagGroup != null">
        #{tagGroup,jdbcType=VARCHAR},
      </if>
      <if test="tagVal != null">
        #{tagVal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.ConfClusterTag">
    <!--@mbg.generated-->
    update conf_cluster_tag
    <set>
      <if test="tagVal != null">
        tag_val = #{tagVal,jdbcType=VARCHAR},
      </if>
    </set>
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.ConfClusterTag">
    <!--@mbg.generated-->
    update conf_cluster_tag
    set tag_val = #{tagVal,jdbcType=VARCHAR}
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
  </update>

  <select id="selectByObject" resultMap="BaseResultMap" parameterType="com.sunbox.domain.ConfClusterTag">
    select
    <include refid="Base_Column_List" />
    from conf_cluster_tag where 1=1
    <if test="clusterId != null ">
      and cluster_id = #{clusterId,jdbcType=VARCHAR}
    </if>
    <if test="tagGroup != null">
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
    </if>
    <if test="tagVal != null">
      and tag_val = #{tagVal,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectDistinctValueByTagGroup" resultMap="BaseResultMap" parameterType="com.sunbox.domain.ConfClusterTag">
    select
    distinct tag_val
    from conf_cluster_tag where 1=1
    <if test="clusterId != null ">
      and cluster_id = #{clusterId,jdbcType=VARCHAR}
    </if>
    <if test="tagGroup != null">
      and tag_group = #{tagGroup,jdbcType=VARCHAR}
    </if>
    <if test="tagVal != null">
      and tag_val = #{tagVal,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>