<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpadmin.mapper.ConfClusterHostGroupAppsConfigMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    <id column="app_config_item_id" jdbcType="VARCHAR" property="appConfigItemId" />
    <result column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="app_config_classification" jdbcType="VARCHAR" property="appConfigClassification" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="config_item" jdbcType="VARCHAR" property="configItem" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="created_time" jdbcType="VARCHAR" property="createdTime" />
    <result column="createdby" jdbcType="TIMESTAMP" property="createdby" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    <result column="config_val" jdbcType="LONGVARCHAR" property="configVal" />
  </resultMap>
  <sql id="Base_Column_List">
    app_config_item_id, cluster_id, group_id, app_config_classification, app_name, config_item,
    is_delete, created_time, createdby
  </sql>
  <sql id="Blob_Column_List">
    config_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from conf_cluster_host_group_apps_config
    where app_config_item_id = #{appConfigItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from conf_cluster_host_group_apps_config
    where app_config_item_id = #{appConfigItemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    insert into conf_cluster_host_group_apps_config (app_config_item_id, cluster_id, group_id,
      app_config_classification, app_name, config_item,
      is_delete, created_time, createdby,
      config_val)
    values (#{appConfigItemId,jdbcType=VARCHAR}, #{clusterId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR},
      #{appConfigClassification,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{configItem,jdbcType=VARCHAR},
      #{isDelete,jdbcType=INTEGER}, #{createdTime,jdbcType=VARCHAR}, #{createdby,jdbcType=TIMESTAMP},
      #{configVal,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    insert into conf_cluster_host_group_apps_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appConfigItemId != null">
        app_config_item_id,
      </if>
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="appConfigClassification != null">
        app_config_classification,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="configItem != null">
        config_item,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdby != null">
        createdby,
      </if>
      <if test="configVal != null">
        config_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appConfigItemId != null">
        #{appConfigItemId,jdbcType=VARCHAR},
      </if>
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="appConfigClassification != null">
        #{appConfigClassification,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="configItem != null">
        #{configItem,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=TIMESTAMP},
      </if>
      <if test="configVal != null">
        #{configVal,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="batchInsert" parameterType="java.util.List">
      insert into conf_cluster_host_group_apps_config
     (app_config_item_id, cluster_id, group_id,app_config_classification, app_name, config_item,config_val,is_delete,createdby,created_time)
      values
      <foreach collection="list"  item="record" separator=","> <!--open="(" close=")" -->
        (#{record.appConfigItemId,jdbcType=VARCHAR}, #{record.clusterId,jdbcType=VARCHAR},#{record.groupId,jdbcType=VARCHAR},
        #{record.appConfigClassification,jdbcType=VARCHAR},#{record.appName,jdbcType=VARCHAR},
        #{record.configItem,jdbcType=VARCHAR},#{record.configVal,jdbcType=VARCHAR},#{record.isDelete,jdbcType=INTEGER},
        #{record.createdby,jdbcType=VARCHAR}, #{record.createdTime,jdbcType=TIMESTAMP})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    update conf_cluster_host_group_apps_config
    <set>
      <if test="clusterId != null">
        cluster_id = #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="appConfigClassification != null">
        app_config_classification = #{appConfigClassification,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="configItem != null">
        config_item = #{configItem,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        createdby = #{createdby,jdbcType=TIMESTAMP},
      </if>
      <if test="configVal != null">
        config_val = #{configVal,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where app_config_item_id = #{appConfigItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    update conf_cluster_host_group_apps_config
    set cluster_id = #{clusterId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      app_config_classification = #{appConfigClassification,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      config_item = #{configItem,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=VARCHAR},
      createdby = #{createdby,jdbcType=TIMESTAMP},
      config_val = #{configVal,jdbcType=LONGVARCHAR}
    where app_config_item_id = #{appConfigItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.ConfClusterHostGroupAppsConfig">
    update conf_cluster_host_group_apps_config
    set cluster_id = #{clusterId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      app_config_classification = #{appConfigClassification,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      config_item = #{configItem,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=VARCHAR},
      createdby = #{createdby,jdbcType=TIMESTAMP}
    where app_config_item_id = #{appConfigItemId,jdbcType=VARCHAR}
  </update>
  <select id="listByClusterIdAndGroupId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from conf_cluster_host_group_apps_config
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
     and group_id = #{groupId,jdbcType=VARCHAR}
     and is_delete = 0
  </select>
</mapper>