<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbox.sdpadmin.mapper.InfoClusterMapper">
  <resultMap id="BaseResultMap" type="com.sunbox.domain.InfoCluster">
    <!--@mbg.generated-->
    <!--@Table info_cluster-->
    <id column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="ambari_username" jdbcType="VARCHAR" property="ambariUsername" />
    <result column="ambari_password" jdbcType="VARCHAR" property="ambariPassword" />
    <result column="ambari_host" jdbcType="VARCHAR" property="ambariHost" />
    <result column="master_ips" jdbcType="VARCHAR" property="masterIps" />
    <result column="ambari_count" jdbcType="INTEGER" property="ambariCount" />
    <result column="master_vms_count" jdbcType="INTEGER" property="masterVmsCount" />
    <result column="core_vms_count" jdbcType="INTEGER" property="coreVmsCount" />
    <result column="task_vms_count" jdbcType="INTEGER" property="taskVmsCount" />
    <result column="apps_count" jdbcType="INTEGER" property="appsCount" />
    <result column="cluster_create_begtime" jdbcType="TIMESTAMP" property="clusterCreateBegtime" />
    <result column="cluster_create_endtime" jdbcType="TIMESTAMP" property="clusterCreateEndtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cluster_id, ambari_username, ambari_password, ambari_host, master_ips, ambari_count, master_vms_count, core_vms_count,
    task_vms_count, apps_count, cluster_create_begtime, cluster_create_endtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from info_cluster
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from info_cluster
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sunbox.domain.InfoCluster">
    <!--@mbg.generated-->
    insert into info_cluster (cluster_id, ambari_username, ambari_password, 
      ambari_host, ambari_count, master_vms_count, core_vms_count,
      task_vms_count, apps_count, cluster_create_begtime, 
      cluster_create_endtime)
    values (#{clusterId,jdbcType=VARCHAR}, #{ambariUsername,jdbcType=VARCHAR}, #{ambariPassword,jdbcType=VARCHAR}, 
      #{ambariHost,jdbcType=VARCHAR}, #{ambariCount,jdbcType=INTEGER}, #{masterVmsCount,jdbcType=INTEGER}, #{coreVmsCount,jdbcType=INTEGER},
      #{taskVmsCount,jdbcType=INTEGER}, #{appsCount,jdbcType=INTEGER}, #{clusterCreateBegtime,jdbcType=TIMESTAMP}, 
      #{clusterCreateEndtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sunbox.domain.InfoCluster">
    <!--@mbg.generated-->
    insert into info_cluster
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="ambariUsername != null">
        ambari_username,
      </if>
      <if test="ambariPassword != null">
        ambari_password,
      </if>
      <if test="ambariHost != null">
        ambari_host,
      </if>
      <if test="ambariCount != null">
        ambari_count,
      </if>
      <if test="masterVmsCount != null">
        master_vms_count,
      </if>
      <if test="coreVmsCount != null">
        core_vms_count,
      </if>
      <if test="taskVmsCount != null">
        task_vms_count,
      </if>
      <if test="appsCount != null">
        apps_count,
      </if>
      <if test="clusterCreateBegtime != null">
        cluster_create_begtime,
      </if>
      <if test="clusterCreateEndtime != null">
        cluster_create_endtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="ambariUsername != null">
        #{ambariUsername,jdbcType=VARCHAR},
      </if>
      <if test="ambariPassword != null">
        #{ambariPassword,jdbcType=VARCHAR},
      </if>
      <if test="ambariHost != null">
        #{ambariHost,jdbcType=VARCHAR},
      </if>
      <if test="ambariCount != null">
        #{ambariCount,jdbcType=INTEGER},
      </if>
      <if test="masterVmsCount != null">
        #{masterVmsCount,jdbcType=INTEGER},
      </if>
      <if test="coreVmsCount != null">
        #{coreVmsCount,jdbcType=INTEGER},
      </if>
      <if test="taskVmsCount != null">
        #{taskVmsCount,jdbcType=INTEGER},
      </if>
      <if test="appsCount != null">
        #{appsCount,jdbcType=INTEGER},
      </if>
      <if test="clusterCreateBegtime != null">
        #{clusterCreateBegtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clusterCreateEndtime != null">
        #{clusterCreateEndtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunbox.domain.InfoCluster">
    <!--@mbg.generated-->
    update info_cluster
    <set>
      <if test="ambariUsername != null">
        ambari_username = #{ambariUsername,jdbcType=VARCHAR},
      </if>
      <if test="ambariPassword != null">
        ambari_password = #{ambariPassword,jdbcType=VARCHAR},
      </if>
      <if test="ambariHost != null">
        ambari_host = #{ambariHost,jdbcType=VARCHAR},
      </if>
      <if test="ambariCount != null">
        ambari_count = #{ambariCount,jdbcType=INTEGER},
      </if>
      <if test="masterVmsCount != null">
        master_vms_count = #{masterVmsCount,jdbcType=INTEGER},
      </if>
      <if test="coreVmsCount != null">
        core_vms_count = #{coreVmsCount,jdbcType=INTEGER},
      </if>
      <if test="taskVmsCount != null">
        task_vms_count = #{taskVmsCount,jdbcType=INTEGER},
      </if>
      <if test="appsCount != null">
        apps_count = #{appsCount,jdbcType=INTEGER},
      </if>
      <if test="clusterCreateBegtime != null">
        cluster_create_begtime = #{clusterCreateBegtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clusterCreateEndtime != null">
        cluster_create_endtime = #{clusterCreateEndtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunbox.domain.InfoCluster">
    <!--@mbg.generated-->
    update info_cluster
    set ambari_username = #{ambariUsername,jdbcType=VARCHAR},
      ambari_password = #{ambariPassword,jdbcType=VARCHAR},
      ambari_host = #{ambariHost,jdbcType=VARCHAR},
      ambari_count = #{ambariCount,jdbcType=INTEGER},
      master_vms_count = #{masterVmsCount,jdbcType=INTEGER},
      core_vms_count = #{coreVmsCount,jdbcType=INTEGER},
      task_vms_count = #{taskVmsCount,jdbcType=INTEGER},
      apps_count = #{appsCount,jdbcType=INTEGER},
      cluster_create_begtime = #{clusterCreateBegtime,jdbcType=TIMESTAMP},
      cluster_create_endtime = #{clusterCreateEndtime,jdbcType=TIMESTAMP}
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </update>

  <select id="selectByObject" resultType="map" parameterType="map">
    select
    ic.cluster_id, ic.ambari_username, ic.ambari_password, ic.ambari_host, ic.master_ips, ic.ambari_count,
    ic.master_vms_count, ic.core_vms_count,
    ic.task_vms_count, ic.apps_count, ic.cluster_create_begtime, ic.cluster_create_endtime,
    cc.state, cc.cluster_name, cc.is_ha, cc.created_time, cc.delete_protected,
    cc.creation_sub_state,cc.region
    from info_cluster ic left join conf_cluster cc on cc.cluster_id=ic.cluster_id where 1=1
    <if test="clusterId!=null and clusterId!=''">
      and ic.cluster_id = #{clusterId,jdbcType=VARCHAR}
    </if>
    <if test="region!=null and region!=''">
      and cc.region = #{region,jdbcType=VARCHAR}
    </if>
    <if test="clusterName!=null and clusterName!=''">
      and cc.cluster_name like CONCAT('%',#{clusterName,jdbcType=VARCHAR},'%')
    </if>
    <if test="states!=null and states.size>0">
      and cc.state in
      <foreach collection="states" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>
    <if test="clusterIds!=null and clusterIds.size()>0">
      and ic.cluster_id in
      <foreach collection="clusterIds" index="index" open="(" close=")" separator="," item="item">
        #{item}
      </foreach>
    </if>
    order by cc.created_time desc
    <if test="pageIndex!=null and pageSize!=null">
      limit #{pageIndex}, #{pageSize}
    </if>
  </select>

  <select id="selectByClusterIds" resultType="map" parameterType="list">
    select
    cluster_id, cluster_create_begtime, cluster_create_endtime
    from info_cluster
    where cluster_id in
    <foreach collection="clusterIds" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="countByObject" parameterType="map" resultType="int">
    select count(1) from info_cluster ic left join conf_cluster cc on cc.cluster_id=ic.cluster_id where 1=1
    <if test="clusterId!=null and clusterId!=''">
      and ic.cluster_id = #{clusterId,jdbcType=VARCHAR}
    </if>
    <if test="region!=null and region!=''">
      and cc.region = #{region,jdbcType=VARCHAR}
    </if>
    <if test="clusterName!=null and clusterName!=''">
      and cc.cluster_name like CONCAT('%',#{clusterName,jdbcType=VARCHAR},'%')
    </if>
    <if test="states!=null and states.size>0">
      and cc.state in
      <foreach collection="states" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>
    <if test="clusterIds!=null and clusterIds.size()>0">
      and ic.cluster_id in
      <foreach collection="clusterIds" index="index" open="(" close=")" separator="," item="item">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="getSpotEvictionCountByParam" resultType="java.util.Map">
      select sku_name as skuName,COUNT(sku_name) as count from (
      select isgsti.cluster_id,isgsti.vm_name,icv.sku_name   from info_spot_group_scale_task_item isgsti
      inner join info_cluster_vm icv  on isgsti.cluster_id=icv.cluster_id and isgsti.vm_name =icv.vm_name
      <if test="dc!=null and dc !=''" >
          inner join conf_cluster cc on icv.cluster_id=cc.cluster_id
          and cc.region=#{dc,jdbcType=VARCHAR}
      </if>
      <if test="begTime!=null">
      and isgsti.created_time > #{begTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime!=null">
       and isgsti.created_time &lt; #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="skuName!=null and skuName!=''">
        and icv.sku_name=#{skuName,jdbcType=VARCHAR}
      </if>
      <if test="clusterId!=null and clusterId!=''">
         and isgsti.cluster_id =#{clusterId,jdbcType=VARCHAR}
      </if>
      group by isgsti.cluster_id,isgsti.vm_name,icv.sku_name) as t1 group by sku_name;
  </select>

  <select id="getSpotSaleCountByParam" resultType="java.util.Map">
    select sku_name as skuName,count(sku_name) as count  from info_cluster_vm icv
    <if test="dc!=null and dc !=''" >
      inner join conf_cluster cc on icv.cluster_id=cc.cluster_id
      and cc.region=#{dc,jdbcType=VARCHAR}
    </if>
    where purchase_type =2
    <if test="clusterId!=null and clusterId!=''">
      and icv.cluster_id =#{clusterId,jdbcType=VARCHAR}
    </if>
    <if test="skuName!=null and skuName!=''">
      and icv.sku_name=#{skuName,jdbcType=VARCHAR}
    </if>
    <if test="begTime!=null">
      and create_begtime > #{begTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null">
      and create_begtime &lt; #{endTime,jdbcType=TIMESTAMP}
    </if>
    group by sku_name
  </select>
</mapper>